<div class="side-bar bloc">
            <!-- social -->
            <div class="sidebar-widget">
              <h4 class="text-light-black widget-title"> Publicité</h4>
              <div class="widget-content">
                <img src="assets/images/ad.jpg" class="img-fluid full-width" alt="advertisement">
                <!-- <iframe id="rv-h5-57de01fdcc" name="rv-h5-57de01fdcc"
                src="https://display.automobile.tn/banners/d845943099e9d779b0e3b002dc3c2474/index.html?clickTag=https%3A%2F%2Fdisplay.automobile.tn%2Fwww%2Fdelivery%2Fcl.php%3Fbannerid%3D2976%26zoneid%3D1%26sig%3D5d32ef4372ebcd4fdfb571691edfcccaccc9d8aa17a4b4b881cccc30c5b9739f%26oadest%3Dhttps%253A%252F%252Fwww.hyundai.com.tn%252Fdevis" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
                 ></iframe> -->
                 <!-- <iframe id="rv-h5-5cdd43915d" name="rv-h5-5cdd43915d" src="https://display.automobile.tn/banners/0852a1405f8d52232f424678cb5b08e8/index.html?clickTag=https%3A%2F%2Fdisplay.automobile.tn%2Fwww%2Fdelivery%2Fcl.php%3Fbannerid%3D2756%26zoneid%3D3%26sig%3Dbfab6ddf75f21d0037621b3db08a92429f6b1a4dd0e4954c18fb80a89fc15a1b%26oadest%3Dhttps%253A%252F%252Fwww.suzuki.tn%252Fdemande-de-devis%252F%253Fsubject%253Dnouvelle-swift" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" width="300" height="250" style="width: 300px; height: 250px; border: 0"></iframe> -->
              </div>
            </div>
            <!-- social -->

            <!-- <div class="sidebar-widget">
              <h4 class="text-light-black widget-title"><i class="flaticon-checklist"></i> Popular News</h4>
              <div class="widget-content">
               </div>
            </div>
         
            <div class="sidebar-widget">
              <h4 class="text-light-black widget-title"><i class="flaticon-price-tag"></i> Tags</h4>
              <div class="widget-content">
               width="1000" height="300" style="width: 1000px; height: 300px; border: 0"
              </div>
            </div> -->
           
    
 </div>