<div class="side-bar bloc">
            <!-- social -->
            <div class="sidebar-widget">
              <h4 class="text-light-black widget-title"> Publicité</h4>
              <div class="widget-content">
                <img src="assets/images/ad.jpg" class="img-fluid full-width" alt="advertisement">

              </div>
            </div>
            <!-- social -->

            <!-- <div class="sidebar-widget">
              <h4 class="text-light-black widget-title"><i class="flaticon-checklist"></i> Popular News</h4>
              <div class="widget-content">
               </div>
            </div>
         
            <div class="sidebar-widget">
              <h4 class="text-light-black widget-title"><i class="flaticon-price-tag"></i> Tags</h4>
              <div class="widget-content">
               
              </div>
            </div> -->
    
 </div>