<div class="mobile-menu-second">
<app-header2></app-header2>	
<!-- Sub header -->
  <div class="sub-header-sec p-relative">
    <img src="assets/images/banner/bannerh7.jpg" class="img-fluid" alt="Sub header">
    <div class="sub-header-overlay"></div>
    <div class="sub-header-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="sub-header-text-wrapper text-center">
              <h1 class="text-custom-white">Register</h1>
              <ul class="breadcrumbs">
                <li><a routerLink="/" class="text-custom-white">Home</a>
                </li>
                <li><a routerLink="/register" class="text-custom-white">Pages</a>
                </li>
                <li><span class="text-custom-white">Register</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sub header -->
  <!-- login -->
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="modal show" id="register-page">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title text-left no-margin"><i class="fas fa-unlock-alt mr-2"></i> <span>Sign Up</span></h6>
                </div>
                <!-- Sign up form -->
                <div class="modal-body">
                  <div *ngIf="this.errorMsg!=='' ||this.successMsg!=='' ">
                    <label class="error-msg"*ngIf="this.errorMsg!==''" >{{errorMsg}}</label>
                    <label class="success-msg" *ngIf="this.successMsg!==''">{{successMsg}}</label>
                  </div>
                  <form [formGroup]="registerForm" (ngSubmit)="register()">
                  
                    <div class="form-group">
                      <input type="text" name="username" formControlName="username" class="form-control form-control-custom" placeholder="username">
                   <label class="error-msg" *ngIf="registerForm.controls.username.errors?.required && isSubmitting" >Field required</label>

                    </div>
                    <div class="form-group">
                      <input type="email" name="email" formControlName="email" class="form-control form-control-custom" placeholder="Email">
                      <label class="error-msg" *ngIf="registerForm.controls.email.errors?.email && !registerForm.controls.email.errors?.required ">Field Email Address must have a valid form</label>
                      <label class="error-msg" *ngIf="registerForm.controls.email.errors?.required && this.isSubmitting ">Field required</label>   
                    </div>
                    <div class="form-group">
                      <input type="password"  autocomplete="on" name="password" formControlName="password" class="form-control form-control-custom" placeholder="Password">
                      <label class="error-msg" *ngIf="registerForm.controls.password.errors?.required && this.isSubmitting ">Field required</label>   
                      <label class="error-msg" *ngIf="registerForm.controls.password.errors?.pattern && registerForm.controls.password.touched">Your password must contain at least 8 chars </label>   

                    </div>
                    <div class="form-group">
                      <input type="password"  autocomplete="on" name="confirmPassword" formControlName="confirmPassword" class="form-control form-control-custom" placeholder="Retype Password">
                      <label class="error-msg" *ngIf="registerForm.controls.confirmPassword.errors?.required && this.isSubmitting ">Field required</label>   
                      <label class="error-msg" *ngIf="registerForm.errors?.mustMatch &&  !registerForm.controls.confirmPassword.errors?.required">Fields must mutch</label>   

                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn-second orange-btn full-width">Sign Up</button>
                    </div>
                  </form>
                  <div class="form-excerpts">
                    <ul>
                      <li>Already a member? <a routerLink="/login">Sign In</a>
                      </li>
                      <li><a routerLink="/register">Recover Password</a>
                      </li>
                    </ul>
                  </div>
                  <!-- <div class="social-login">  <span>Or Signup with</span>
                    <div class="social-btn">  <a routerLink="/register" class="facebook"><i class="fab fa-facebook-f"></i> Facebook</a>
                      <a routerLink="/register" class="google"><i class="fab fa-google-plus-g"></i> Google</a>
                    </div>
                  </div> -->
                </div>
                <!-- Sign up form -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- login -->
	<app-footer2></app-footer2>
</div>