<div class="mobile-menu-second">

    <app-header2></app-header2>

    <!-- Adding Listing -->
    <section class="section-padding add-listing-sec">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="add-listing-tab" class="step-app">
                        <ul class="step-steps">
                            <li class="active">
                                <a href="#step1"> <span class="number"></span>
                                    <span class="step-name">INFORMATIONS GÉNÉRALES</span>
                                </a>
                            </li>

                            <li>
                                <a href="#step2"> <span class="number"></span>
                                    <span class="step-name">SPÉCIFICATIONS TECHNIQUES</span>
                                </a>
                            </li>

                            <li>
                                <a href="#step3"> <span class="number"></span>
                                    <span class="step-name">LOCALISATION</span>
                                </a>
                            </li>
                            <li>
                                <a href="#step4"> <span class="number"></span>
                                    <span class="step-name">GALERIE</span>
                                </a>
                            </li>


                        </ul>
                        <!-- *ngIf="carDetails" -->
                        <div class="step-content">

                            <div class="step-tab-panel" id="step1">
                                <div class="tab-from-content">
                                    <div class="title-icon">
                                        <h5 class="title rubik fw-600"><i class="flaticon-comment"></i>Informations générales</h5>
                                    </div>
                                    <form [formGroup]="updateMotoForm">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Titre</label>
                                                <div class="form-group">
                                                    <input type="text" name="title" formControlName="title" class="form-control form-control-custom" [(ngModel)]="this.carDetails.title">
                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-3 col-md-4 col-sm-4" *ngIf="this.userRole!=='user'">
                        <label>Type</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom" [(ngModel)]="this.carDetails.type"
                            formControlName="type">
                            <option value="">Choisir..</option>
                            <option value="Occasion">Occasion</option>
                            <option value="Neuve">Neuve</option>
                          </select>
                        </div>
                      </div> -->
                                            <!-- <div class="col-lg-3 col-md-4 col-sm-4">
                          <label>Mois</label>
                          <div class="form-group p-relative">
                            <select class="form-control form-control-custom" [(ngModel)]="this.carDetails.month" formControlName="month">
                              <option value=""></option>
                              <option value="02">02</option>
                              <option value="01">01</option>
                              <option value="03">03</option>
                              <option value="04">04</option>
                              <option value="05">05</option>
                              <option value="06">06</option>
                              <option value="07">07</option>
                              <option value="08">08</option>
                              <option value="09">09</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                            </select>
                          </div>
                        </div> -->
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Année</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" [(ngModel)]="this.carDetails.year" formControlName="year" id="car-years">
                            <option value="">Choisir..</option>
                            <option *ngFor="let y of years.slice().reverse()" [value]="y">{{ y }}</option>
                          </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Prix</label>
                                                <div class="form-group">
                                                    <input type="number" name="price" [(ngModel)]="this.carDetails.price" formControlName="price" class="form-control form-control-custom">
                                                </div>
                                            </div>


                                            <!-- <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Catégorie</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom" [(ngModel)]="this.carDetails.category"
                            formControlName="category">
                            <option value="">Choisir..</option>
                            <option *ngFor="let c of categoriesList" [value]="c.category">{{c.category}} Car</option>
                          </select>
                        </div>
                      </div> -->
                                            <div class="col-lg-3 col-md-4 col-sm-4" *ngIf="this.userRole==='user'">
                                                <label>Kilométrage</label>
                                                <div class="form-group">
                                                    <input type="text" name="mileage" [(ngModel)]="this.carDetails.mileage" formControlName="mileage" class="form-control form-control-custom">
                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Motorization</label>
                        <div class="form-group">
                          <input type="text" name="motorization" [(ngModel)]="this.carDetails.motorization"
                            formControlName="motorization" class="form-control form-control-custom">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Energie</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom" [(ngModel)]="this.carDetails.energy"
                            formControlName="energy">
                            <option value="">Choisir..</option>
                            <option value="essence">Essence</option>
                            <option value="diesel">Diesel</option>
                          </select>
                        </div>
                      </div> -->



                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Marque</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="brand" [(ngModel)]="this.carDetails.brand.id">
                            <option value="">Choisir..</option>
                            <option *ngFor="let b of arrayBrand" [value]="[b.id_car_make]">{{b.name}}</option>
  
                          </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Modèle</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="model" [(ngModel)]="this.carDetails.voitureOption.model.id">
                            <option value="">Choisir..</option>
                            <option *ngFor="let m of arrayModel" [value]="[m.id_car_model]">{{m.name}}</option>
                          </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Série</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="serie" [(ngModel)]="this.carDetails.voitureOption.serie.id">
                            <option value="">Choisir..</option>
                            <option *ngFor="let s of arraySerie" [value]="[s.id_car_serie]">{{s.name}}</option>
                          </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4" *ngIf="this.carDetails.voitureOption.trims && this.userRole==='admin'">
                                                <label>Modification</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="trim" [(ngModel)]="this.carDetails.voitureOption.trims.id">
                            <option value="">Choisir..</option>
                            <option *ngFor="let t of arrayTrim" [value]="[t.id_car_trim]">{{t.name}}</option>
                          </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Couleur</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" [(ngModel)]="this.carDetails.color" formControlName="color">
                            <option value="">Choisir..</option>
                            <option value="Noir">Noir</option>
                            <option value="Gris argent">Gris argent</option>
                            <option value="Gris anthracite">Gris anthracite</option>
                            <option value="Gris Shark">Gris Shark</option>
                            <option value="Blanc">Blanc</option>
                            <option value="Rouge">Rouge</option>
                            <option value="Bleu">Bleu</option>
                            <option value="Beige">Beige</option>
                            <option value="Jaune">Jaune</option>
                            <option value="Orange">Orange</option>
                            <option value="Vert">Vert</option>
                            <option value="Aubergine">Aubergine</option>
                            <option value="Marron">Marron</option>
                            <option value="Autre">Autre</option>
                          </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Disponibilité</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" [(ngModel)]="this.carDetails.availablity" formControlName="availablity">
                            <option value="">Choisir..</option>
                            <option value="Immediatement">Immediatement</option>
                            <option value="Sur-commande">Sur commande</option>
                          </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Guarantie</label>
                                                <div class="form-group">
                                                    <input type="text" name="Guarantie" [(ngModel)]="this.carDetails.guarantee" formControlName="guarantee" class="form-control form-control-custom">
                                                </div>
                                            </div>


                                            <div class="col-lg-12">
                                                <label>Description</label>
                                                <div class="form-group">
                                                    <textarea class="form-control form-control-custom" [(ngModel)]="this.carDetails.description" formControlName="description" rows="5"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="step-tab-panel" id="step2">
                                <div class="tab-from-content">
                                    <div class="title-icon">
                                        <h5 class="title rubik fw-600"><i class="flaticon-check-square"></i>Spécifications techniques</h5>
                                    </div>
                                    <form [formGroup]="updateMotoForm">
                                        <div class="row" *ngIf="this.userRole!=='user' && arraySpecification">
                                            <div class="col-lg-3 col-md-4 col-sm-4" *ngFor="let s of arraySpecification">
                                                <label>{{s.name}}</label>
                                                <div class="form-group">
                                                    <input class="form-control form-control-custom" type="text" value='{{s.value}}' readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="this.userRole==='user'">
                                            <!-- <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Boîte</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom" [(ngModel)]="this.carDetails.gearbox"
                            formControlName="gearbox">
                            <option value="">Choisir..</option>
                            <option value="manuelle">Manuelle</option>
                            <option value="automatique">Automatique</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Puissance fiscale</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom" [(ngModel)]="this.carDetails.powerFiscal"
                            formControlName="powerFiscal">
                            <option value="">Choisir..</option>
                            <option *ngFor="let power of powerFiscalArray" [value]="power">{{ power }}</option>
                            <option value="more-48">Plus de 48</option>
                          </select>
                        </div>
                      </div>
  
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Carrosserie</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom" [(ngModel)]="this.carDetails.carrosserie"
                            formControlName="carrosserie">
                            <option value="">Choisir..</option>
                            <option value="Citadine">Citadine</option>
                            <option value="Compacte">Compacte</option>
                            <option value="Berline">Berline</option>
                            <option value="Coupé">Coupé</option>
                            <option value="Cabriolet">Cabriolet</option>
                            <option value="4 x 4">4 x 4</option>
                            <option value="Monospace">Monospace</option>
                            <option value="Utilitaire">Utilitaire</option>
                            <option value="Pick up">Pick up</option>
                            <option value="Autres">Autres</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>transmission</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom" [(ngModel)]="this.carDetails.transmission"
                            formControlName="transmission">
                            <option value="">Choisir..</option>
                            <option value="traction">Traction</option>
                            <option value="propulsion">Propulsion</option>
                            <option value="intégrale">Intégrale</option>
                          </select>
                        </div>
                      </div> -->

                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Nombre de places</label>
                                                <div class="form-group">
                                                    <input type="number" name="seatingCapacity" [(ngModel)]="this.carDetails.seatingCapacity" formControlName="seatingCapacity" class="form-control form-control-custom">
                                                </div>
                                            </div>
                                            <!--   
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Nombre de portes</label>
                        <div class="form-group">
                          <input type="number" name="numberDoors" [(ngModel)]="this.carDetails.numberDoors"
                            formControlName="numberDoors" class="form-control form-control-custom">
                        </div>
                      </div>
   -->

                                            <!-- <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Carburant</label>
                        <div class="form-group">
                          <input type="number" [(ngModel)]="this.carDetails.carburant" name="carburant"
                            formControlName="carburant" class="form-control form-control-custom">
                        </div>
                      </div> -->
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Mise en Circulation</label>
                                                <div class="form-group">
                                                    <input type="date" name="miseCirculation" [(ngModel)]="this.carDetails.miseCirculation" formControlName="miseCirculation" class="form-control form-control-custom">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Type de Permis</label>
                                                <div class="form-group">
                                                    <input type="text" name="permis" [(ngModel)]="this.carDetails.permis" formControlName="permis" class="form-control form-control-custom">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="step-tab-panel" id="step3">
                                <div class="tab-from-content">
                                    <div class="title-icon">
                                        <h5 class="title rubik fw-600"><i class="flaticon-location-pin"></i> Location</h5>
                                    </div>
                                    <form [formGroup]="updateMotoForm">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Téléphone</label>
                                                <div class="form-group">
                                                    <input type="number" name="phone" formControlName="phone" [(ngModel)]="this.carDetails.phone" class="form-control form-control-custom">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Gouvernorat</label>
                                                <div class="form-group p-relativ">
                                                    <select class="form-control form-control-custom" [(ngModel)]="this.carDetails.city" formControlName="city">
                            <option value="">Choisir..</option>
                            <option value="Ariana">Ariana</option>
                            <option value="Béja">Béja</option>
                            <option value="Ben Arous">Ben Arous</option>
                            <option value="Bizerte">Bizerte</option>
                            <option value="Gabès">Gabès</option>
                            <option value="Gafsa">Gafsa</option>
                            <option value="Jendouba">Jendouba</option>
                            <option value="Kairouan">Kairouan</option>
                            <option value="Kasserine">Kasserine</option>
                            <option value="Kébili">Kébili</option>
                            <option value="La Manouba">La Manouba</option>
                            <option value="Le Kef">Le Kef</option>
                            <option value="Mahdia">Mahdia</option>
                            <option value="Médenine">Médenine</option>
                            <option value="Monastir">Monastir</option>
                            <option value="Nabeul">Nabeul</option>
                            <option value="Sfax">Sfax</option>
                            <option value="Sidi Bouzid">Sidi Bouzid</option>
                            <option value="Siliana">Siliana</option>
                            <option value="Sousse">Sousse</option>
                            <option value="Tataouine">Tataouine</option>
                            <option value="Tozeur">Tozeur</option>
                            <option value="Tunis">Tunis</option>
                            <option value="Zaghouan">Zaghouan</option>
                          </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Adresse</label>
                                                <div class="form-group">
                                                    <input type="text" name="address" formControlName="address" [(ngModel)]="this.carDetails.address" class="form-control form-control-custom">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="step-tab-panel" id="step4">
                                <div class="tab-from-content">
                                    <div class="title-icon">
                                        <h5 class="title rubik fw-600"><i class="flaticon-frame"></i>Galerie</h5>
                                    </div>

                                    <form [formGroup]="updateMotoForm">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div formArrayName="pictures" class="form-group div-input-file">
                                                    <div class="d-flex justify-content-center text-div-input-file">
                                                        Cliquez ou faites glisser vos photos ici
                                                    </div>
                                                    <input type="file" class="input-pictures" accept="image/*" (change)="onFileChange($event)">

                                                </div>
                                            </div>
                                            <div class="col-lg-12" *ngIf="kits.length!==0">

                                                <div class="col p-2" *ngFor="let pic of kits;let index = index">
                                                    <img class="picture-car" [src]="pic">
                                                    <img src="assets/images/new-icons/deletekit.svg" class="delete-icon" (click)="delete(index)">
                                                </div>

                                            </div>

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center" *ngIf="this.successMsg!=='' ">
                            <span class="success-msg">{{successMsg}}</span>
                        </div>
                        <div class="step-footer step-tab-pager">
                            <button data-direction="prev" class="btn-second orange-btn">Précédent</button>
                            <button data-direction="next" class="btn-second orange-btn">Suivant</button>
                            <button data-direction="finish" class="btn-second orange-btn" (click)="updateCar()">Enregistrer</button>
                        </div>

                    </div>

                </div>

            </div>
        </div>


    </section>
    <!-- Adding Listing -->

    <app-footer2></app-footer2>

</div>