<div class="mobile-menu-second">
    <app-header2></app-header2>

    <section class="section-padding our_articles">
        <div class="container">
            <div class="brandList text-center">

                <div *ngFor="let logo of logos" class="vehicles-item  text-center padding-10" (click)="getMotoByBrand(logo)">
                    <a>
                        <img src="assets/images/logo_moto/{{logo}}" class="img-fluid full-width" alt="Image">
                    </a>
                </div>
            </div>
        </div>
    </section>

</div>