<div class="mobile-menu-second">
	<app-header2></app-header2>
<!-- Sub header -->
  <div class="sub-header-sec p-relative">
    <img src="assets/images/blog/banner/banner-1.jpg" class="img-fluid" alt="Sub header">
    <div class="sub-header-overlay"></div>
    <div class="sub-header-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="sub-header-text-wrapper text-center">
              <h1 class="text-custom-white">Blog</h1>
              <ul class="breadcrumbs">
                <li><a routerLink="/" class="text-custom-white">Accueil</a>
                </li>
                <li><span class="text-custom-white">Blog</span>
                </li>
              </ul>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sub header -->
  <!-- Blog -->
  <section class="section-padding our_articles">
    <div class="container">
      <div class="row">
        <aside class="col-lg-4">
          <app-advertising-sidebar></app-advertising-sidebar>
        </aside>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="add-car-btn" [routerLink]="['/ajouter-blog']">
                <a  class="text-custom-white">+ Ajouter un blog</a>
             </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" *ngFor="let blog of blogList">
              <!-- article 1 -->
              <article class="post">
                <div class="blog-wrap p-relative">
                  <div class="blog-img no-margin p-relative">
                    <a [routerLink]="['/blog',blog.id]">
                      <img src="assets/images/concrete-wall-3.png" class="img-fluid full-width" alt="Blog img">
                    </a>
                    <div class="read-more-wrap">  <a [routerLink]="['/blog',blog.id]" class="read-more">
                      LIRE CET ARTICLE
                    </a>
                    </div>
                  </div>
                  <div class="post-type">
                    <a [routerLink]="['/blogs/modifier',blog.id]">  <i class="fas fa-pen"></i>
                    </a>
                  </div>
                  <div class="blog-meta">
                    <div class="entry-meta-content">
                      <div class="entry-date"> <span class="text-dark-white"> <a routerLink="/blog-left" class="text-dark-white">{{blog.created_at | date }}</a></span>
                      </div>
                    </div>
                    <div class="blog-caption">
                      <h2 class="blog-title">
                        <a [routerLink]="['/blog',blog.id]" class="text-light-black">{{blog.titre}}</a>
                      </h2>
                    </div>
                  </div>
                </div>
              </article>
              <!-- article 1 -->
            </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog -->
	<app-footer2></app-footer2>
</div>