<div class="mobile-menu-second">
	<app-header2></app-header2>
<!-- Sub header -->
  <div class="sub-header-sec p-relative">
    <app-banner-header></app-banner-header>
    <!-- <img src="assets/images/blog/banner/banner-1.jpg" class="img-fluid" alt="Sub header"> -->
    <div class="sub-header-overlay"></div>
    <div class="sub-header-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="sub-header-text-wrapper text-center">
              <h1 class="text-custom-white">MODIFIER MON MOT DE PASSE</h1>
              <ul class="breadcrumbs">
                <li><a routerLink="/" class="text-custom-white">Accueil</a>
                </li>
                <li><a routerLink="/mon-espace" class="text-custom-white">Mon espace</a>
                </li>
                <li><span class="text-custom-white">Modifier mon mot de passe</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sub header -->
  <section class="section-padding our_articles">
    <div class="container">
      <div class="row">
        <aside class="col-lg-4">
          <app-advertising-sidebar></app-advertising-sidebar>
        </aside>
        <div class="col-lg-8">
            <form [formGroup]="updatePasswordForm">
                <div class="row justify-content-center" *ngIf="this.successMsg!==''">
                    <span class="success-msg">{{successMsg}}</span>
                  </div>
                  <div class="col-md-8">
                    <label>Ancien mot de passe</label>
                <div class="form-group">
                    <input type="password"  autocomplete="on" name="oldPassword" formControlName="oldPassword" class="form-control form-control-custom">
                    <label class="error-msg" *ngIf="updatePasswordForm.controls.oldPassword.errors?.required && this.isSubmitting ">Champ obligatoire</label>   
                    <label class="error-msg" *ngIf="wrongOldPassword !==''">votre ancien mot de passe est incorrect</label>   
  
                </div>
                </div>
                <div class="col-md-8">
                  <label>Nouveau mot de passe</label>
                <div class="form-group">
                  <input type="password"  autocomplete="on" name="password" formControlName="password" class="form-control form-control-custom">
                  <label class="error-msg" *ngIf="updatePasswordForm.controls.password.errors?.required && this.isSubmitting ">Champ obligatoire</label>   
                  <label class="error-msg" *ngIf="updatePasswordForm.controls.password.errors?.pattern && updatePasswordForm.controls.password.touched">votre mot de passe doit contenir au moins 8 caractères</label>   
                </div>
                </div>
                <div class="col-md-8">
                  <label>Retaper le mot de passe</label>
                <div class="form-group">
                  <input type="password"  autocomplete="on" name="confirmPassword" formControlName="confirmPassword" class="form-control form-control-custom" >
                  <label class="error-msg" *ngIf="updatePasswordForm.controls.confirmPassword.errors?.required && this.isSubmitting ">Champ obligatoire</label>   
                  <label class="error-msg" *ngIf="updatePasswordForm.errors?.mustMatch &&  !updatePasswordForm.controls.confirmPassword.errors?.required">Les champs doivent correspondre</label>   

                </div>
                </div>
  
                <div class="form-group">
                  <button type="submit" (click)="updatePassword()" class="btn-second orange-btn full-width">Modifier</button>
                </div>
              </form>
         
        </div>
      </div>
    </div>
  </section>
	<app-footer2></app-footer2>
</div>