<div class="mobile-menu-second">
<app-header2></app-header2>	
<!-- Sub header -->
  <div class="sub-header-sec p-relative">
    <img src="assets/images/banner/bannerh7.jpg" class="img-fluid" alt="Sub header">
    <div class="sub-header-overlay"></div>
    <div class="sub-header-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="sub-header-text-wrapper text-center">
              <h1 class="text-custom-white">Create Account</h1>
              <ul class="breadcrumbs">
                <li><a routerLink="/" class="text-custom-white">Accueil</a>
                </li>
                <li><a routerLink="/account/creation" class="text-custom-white">Pages</a>
                </li>
                <li><span class="text-custom-white">Register</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sub header -->
  <!-- login -->
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="modal show" id="register-page">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title text-left no-margin"><i class="fas fa-unlock-alt mr-2"></i> <span>Sign Up</span></h6>
                </div>
                <!-- Sign up form -->
                <div class="modal-body">
                  <label>Create account for ...</label>
                  <form>
                    <div class="form-group">
                      <label class="custom-checkbox" routerLink="/register">
                        <input type="checkbox"> <span class="checkmark"></span>Me</label>
                    </div>

                    <div class="form-group">
                      <label class="custom-checkbox" routerLink="/register/pro">
                        <input type="checkbox"> <span class="checkmark"></span>My company</label>
                    </div>


                    <!-- <div class="form-group">
                      <input type="radio" id="for-me" routerLink="/register">
                      <label for="for-me">Me</label>
                     
                    </div>
                    <div class="form-group">
                      <input type="radio" id="for-company"  routerLink="/register/pro">
                      <label for="for-company">My company</label>
          
                    </div> -->
              
                  </form>
                  <div class="form-excerpts">
                    <ul>
                      <li>Already a member? <a routerLink="/login">Sign In</a>
                      </li>
                      <li><a routerLink="/account/creation">Recover Password</a>
                      </li>
                    </ul>
                  </div>
                  <!-- <div class="social-login">  <span>Or Signup with</span>
                    <div class="social-btn">  <a routerLink="/account/creation" class="facebook"><i class="fab fa-facebook-f"></i> Facebook</a>
                      <a routerLink="/account/creation" class="google"><i class="fab fa-google-plus-g"></i> Google</a>
                    </div>
                  </div> -->
                </div>
                <!-- Sign up form -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- login -->
	<app-footer2></app-footer2>
</div>