<div class="mobile-menu-second">
    <app-header2></app-header2>

    <!-- Blog -->
    <section class="section-padding our_articles">
        <div class="container">
            <div class="content-wrapper">

                <div id="facets-pjax" data-pjax-container="" data-pjax-push-state data-pjax-timeout="5000">
                    <div class="occasions-results layout-list">

                        <div class="articles">
                            <div *ngFor="let car of carsList" style=" margin-top: 3%;">
                                <div class="occasion-item" data-pjax="0">
                                    <div class="anchor" id="occasion-72414"></div>
                                    <a class="details-container" [routerLink]="['/details-annonce',car.id]">
                                        <div class="details-wrapper">
                                            <picture>

                                                <img class="thumb cdn-image lazyload" [src]="car.pictureVoitures[0]?.picture" (error)="onImgError($event)"></picture>
                                            <div class="thumb-caption">
                                                <h2><span>{{car.brand}} {{car.model}}</span></h2>
                                                <div class="price">
                                                    {{car.price}} <span class="suffix">DT</span> </div>
                                            </div>
                                            <p> {{car.description}} </p>
                                        </div>

                                        <ul class="specs-preview">
                                            <li class="year">
                                                <span class="name">Année</span>
                                                <span class="value"> {{car.year}}</span>
                                            </li>
                                            <li class="road">
                                                <span class="name">Kms</span>
                                                <span class="value"> {{car.mileage || '0'}}</span>
                                            </li>
                                            <li class="map">
                                                <span class="name">Localité</span>
                                                <span class="value"> {{car.city}}</span>
                                            </li>
                                            <li class="fuel">
                                                <span class="name">Energie</span>
                                                <span class="value">Essence</span>
                                            </li>
                                            <li class="boite">
                                                <span class="name">Boîte vitesses</span>
                                                <span class="value"> {{car.gearbox}}</span>
                                            </li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Blog -->
    <app-footer2></app-footer2>
</div>