<div class="mobile-menu-second">
	<app-header2></app-header2>
<!-- Sub header -->
  <div class="sub-header-sec p-relative">
    <img src="assets/images/blog/banner/banner-2.jpg" class="img-fluid" alt="Sub header">
    <div class="sub-header-overlay"></div>
    <div class="sub-header-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="sub-header-text-wrapper text-center">
              <h1 class="text-custom-white">Blog</h1>
              <ul class="breadcrumbs">
                <li><a routerLink="/" class="text-custom-white">Home</a>
                </li>
                <li><span class="text-custom-white">Blog</span>
                </li>
              </ul>
              <ul class="tags-links">
                <li class="cat-tags"> <a routerLink="/blog-right">Luxury Car</a>
                  <a routerLink="/blog-right">Sports Car</a>
                  <a routerLink="/blog-right">Economy Car</a>
                </li>
                <li><a routerLink="/blog-right" class="text-custom-white"><i class="fas fa-user"></i> <span>Jhon Deo</span></a>
                </li>
                <li><a routerLink="/blog-right" class="text-custom-white"><i class="far fa-comments"></i> <span>No Comments</span></a>
                </li>
                <li><a routerLink="/blog-right" class="text-custom-white"><i class="fas fa-calendar"></i> <span>November 25, 2020</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sub header -->
  <!-- Blog -->
  <section class="section-padding our_articles">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-6">
              <!-- article 1 -->
              <article class="post">
                <div class="blog-wrap p-relative">
                  <div class="blog-img no-margin p-relative">
                    <a routerLink="/blog-standard">
                      <img src="assets/images/blog/sidebar/blog-1.jpg" class="img-fluid full-width" alt="Blog img">
                    </a>
                    <div class="read-more-wrap">  <a routerLink="/blog-standard" class="read-more">
                      READ THIS ARTICLE
                    </a>
                    </div>
                  </div>
                  <div class="post-type">
                    <a routerLink="/blog-right">  <i class="flaticon-film"></i>
                    </a>
                  </div>
                  <div class="blog-meta">
                    <div class="entry-meta-content">
                      <div class="entry-date"> <span class="text-dark-white">In <a routerLink="/blog-right" class="text-dark-white">20 November 2020</a></span>
                      </div>
                    </div>
                    <div class="blog-caption">
                      <h2 class="blog-title">
                                            <a routerLink="/blog-standard" class="text-light-black">the love of power is the demon of men & women</a>
                                          </h2>
                    </div>
                  </div>
                </div>
              </article>
              <!-- article 1 -->
            </div>
            <div class="col-md-6">
              <!-- article 1 -->
              <article class="post">
                <div class="blog-wrap p-relative">
                  <div class="blog-img no-margin p-relative">
                    <a routerLink="/blog-standard">
                      <img src="assets/images/blog/sidebar/blog-2.jpg" class="img-fluid full-width" alt="Blog img">
                    </a>
                    <div class="read-more-wrap">  <a routerLink="/blog-standard" class="read-more">
                      READ THIS ARTICLE
                    </a>
                    </div>
                  </div>
                  <div class="post-type">
                    <a routerLink="/blog-right">  <i class="flaticon-photo-camera"></i>
                    </a>
                  </div>
                  <div class="blog-meta">
                    <div class="entry-meta-content">
                      <div class="entry-date"> <span class="text-dark-white">In <a routerLink="/blog-right" class="text-dark-white">25 November 2020</a></span>
                      </div>
                    </div>
                    <div class="blog-caption">
                      <h2 class="blog-title">
                                            <a routerLink="/blog-standard" class="text-light-black">Life is hard, and a lot of people come home tired from work</a>
                                          </h2>
                    </div>
                  </div>
                </div>
              </article>
              <!-- article 1 -->
            </div>
            <div class="col-md-6">
              <!-- article 1 -->
              <article class="post">
                <div class="blog-wrap p-relative">
                  <div class="blog-img no-margin p-relative">
                    <a routerLink="/blog-standard">
                      <img src="assets/images/blog/sidebar/blog-3.jpg" class="img-fluid full-width" alt="Blog img">
                    </a>
                    <div class="read-more-wrap">  <a routerLink="/blog-standard" class="read-more">
                      READ THIS ARTICLE
                    </a>
                    </div>
                  </div>
                  <div class="post-type">
                    <a routerLink="/blog-right">  <i class="flaticon-photo-camera"></i>
                    </a>
                  </div>
                  <div class="blog-meta">
                    <div class="entry-meta-content">
                      <div class="entry-date"> <span class="text-dark-white">In <a routerLink="/blog-right" class="text-dark-white">01 December 2020</a></span>
                      </div>
                    </div>
                    <div class="blog-caption">
                      <h2 class="blog-title">
                                            <a routerLink="/blog-standard" class="text-light-black">the love of power is the demon of men & women</a>
                                          </h2>
                    </div>
                  </div>
                </div>
              </article>
              <!-- article 1 -->
            </div>
            <div class="col-md-6">
              <!-- article 1 -->
              <article class="post">
                <div class="blog-wrap p-relative">
                  <div class="blog-img no-margin p-relative">
                    <a routerLink="/blog-standard">
                      <img src="assets/images/blog/sidebar/blog-4.jpg" class="img-fluid full-width" alt="Blog img">
                    </a>
                    <div class="read-more-wrap">  <a routerLink="/blog-standard" class="read-more">
                      READ THIS ARTICLE
                    </a>
                    </div>
                  </div>
                  <div class="post-type">
                    <a routerLink="/blog-right">  <i class="flaticon-film"></i>
                    </a>
                  </div>
                  <div class="blog-meta">
                    <div class="entry-meta-content">
                      <div class="entry-date"> <span class="text-dark-white">In <a routerLink="/blog-right" class="text-dark-white">04 December 2020</a></span>
                      </div>
                    </div>
                    <div class="blog-caption">
                      <h2 class="blog-title">
                                            <a routerLink="/blog-standard" class="text-light-black">The PC has improved the world in just about every area</a>
                                          </h2>
                    </div>
                  </div>
                </div>
              </article>
              <!-- article 1 -->
            </div>
            <div class="col-md-6">
              <!-- article 1 -->
              <article class="post">
                <div class="blog-wrap p-relative">
                  <div class="blog-img no-margin p-relative">
                    <a routerLink="/blog-standard">
                      <img src="assets/images/blog/sidebar/blog-5.jpg" class="img-fluid full-width" alt="Blog img">
                    </a>
                    <div class="read-more-wrap">  <a routerLink="/blog-standard" class="read-more">
                      READ THIS ARTICLE
                    </a>
                    </div>
                  </div>
                  <div class="post-type">
                    <a routerLink="/blog-right">  <i class="flaticon-photo-camera"></i>
                    </a>
                  </div>
                  <div class="blog-meta">
                    <div class="entry-meta-content">
                      <div class="entry-date"> <span class="text-dark-white">In <a routerLink="/blog-right" class="text-dark-white">10 December 2020</a></span>
                      </div>
                    </div>
                    <div class="blog-caption">
                      <h2 class="blog-title">
                                            <a routerLink="/blog-standard" class="text-light-black">Life is hard, and a lot of people come home tired from work</a>
                                          </h2>
                    </div>
                  </div>
                </div>
              </article>
              <!-- article 1 -->
            </div>
            <div class="col-md-6">
              <!-- article 1 -->
              <article class="post">
                <div class="blog-wrap p-relative">
                  <div class="blog-img no-margin p-relative">
                    <a routerLink="/blog-standard">
                      <img src="assets/images/blog/sidebar/blog-6.jpg" class="img-fluid full-width" alt="Blog img">
                    </a>
                    <div class="read-more-wrap">  <a routerLink="/blog-standard" class="read-more">
                      READ THIS ARTICLE
                    </a>
                    </div>
                  </div>
                  <div class="post-type">
                    <a routerLink="/blog-right">  <i class="flaticon-photo-camera"></i>
                    </a>
                  </div>
                  <div class="blog-meta">
                    <div class="entry-meta-content">
                      <div class="entry-date"> <span class="text-dark-white">In <a routerLink="/blog-right" class="text-dark-white">20 December 2020</a></span>
                      </div>
                    </div>
                    <div class="blog-caption">
                      <h2 class="blog-title">
                                            <a routerLink="/blog-standard" class="text-light-black">The PC has improved the world in just about every area</a>
                                          </h2>
                    </div>
                  </div>
                </div>
              </article>
              <!-- article 1 -->
            </div>
            <div class="col-md-6">
              <!-- article 1 -->
              <article class="post">
                <div class="blog-wrap p-relative">
                  <div class="blog-img no-margin p-relative">
                    <a routerLink="/blog-standard">
                      <img src="assets/images/blog/sidebar/blog-7.jpg" class="img-fluid full-width" alt="Blog img">
                    </a>
                    <div class="read-more-wrap">  <a routerLink="/blog-standard" class="read-more">
                      READ THIS ARTICLE
                    </a>
                    </div>
                  </div>
                  <div class="post-type">
                    <a routerLink="/blog-right">  <i class="flaticon-film"></i>
                    </a>
                  </div>
                  <div class="blog-meta">
                    <div class="entry-meta-content">
                      <div class="entry-date"> <span class="text-dark-white">In 25 December 2020</span>
                      </div>
                    </div>
                    <div class="blog-caption">
                      <h2 class="blog-title">
                                            <a routerLink="/blog-standard" class="text-light-black">Life is hard, and a lot of people come home tired from work</a>
                                          </h2>
                    </div>
                  </div>
                </div>
              </article>
              <!-- article 1 -->
            </div>
            <div class="col-md-6">
              <!-- article 1 -->
              <article class="post">
                <div class="blog-wrap p-relative">
                  <div class="blog-img no-margin p-relative">
                    <a routerLink="/blog-standard">
                      <img src="assets/images/blog/sidebar/blog-8.jpg" class="img-fluid full-width" alt="Blog img">
                    </a>
                    <div class="read-more-wrap">  <a routerLink="/blog-standard" class="read-more">
                      READ THIS ARTICLE
                    </a>
                    </div>
                  </div>
                  <div class="post-type">
                    <a routerLink="/blog-right">  <i class="flaticon-photo-camera"></i>
                    </a>
                  </div>
                  <div class="blog-meta">
                    <div class="entry-meta-content">
                      <div class="entry-date"> <span class="text-dark-white">In 25 December 2020</span>
                      </div>
                    </div>
                    <div class="blog-caption">
                      <h2 class="blog-title">
                                            <a routerLink="/blog-standard" class="text-light-black">the love of power is the demon of men & women</a>
                                          </h2>
                    </div>
                  </div>
                </div>
              </article>
              <!-- article 1 -->
            </div>
            <!-- pagination -->
            <div class="col-12">
              <nav class="custom-pagination">
                <ul class="pagination">
                  <li class="page-item "><a class="page-link" routerLink="/blog-right">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" routerLink="/blog-right">1</a>
                  </li>
                  <li class="page-item active"><a class="page-link" routerLink="/blog-right">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" routerLink="/blog-right">3</a>
                  </li>
                  <li class="page-item"><a class="page-link" routerLink="/blog-right">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- pagination -->
          </div>
        </div>
        <aside class="col-lg-4">
          <app-blog-sidebar1></app-blog-sidebar1>
        </aside>
      </div>
    </div>
  </section>
  <!-- Blog -->
	<app-footer2></app-footer2>
</div>