.forgot-pwd{
    color: rgb(65, 131, 215) !important;
    /* cursor: pointer; */
}

.field-icon {
    position: absolute;
    top: 40%;
    right: 26px;
    z-index: 2;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: grey;
    cursor: pointer;
}