<div class="mobile-menu-second">
  <app-header2></app-header2>
  <!-- Sub header -->
  <div class="sub-header-sec p-relative">
    <app-banner-header></app-banner-header>
    <div class="sub-header-overlay"></div>
    <div class="sub-header-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="sub-header-text-wrapper text-center">
              <h1 class="text-custom-white">Création de compte professionnel</h1>
              <ul class="breadcrumbs">
                <li><a routerLink="/" class="text-custom-white">Accueil</a>
                </li>
                <li><a routerLink="/account/creation" class="text-custom-white">Pages</a>
                </li>
                <li><span class="text-custom-white">Inscription</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sub header -->
  <!-- login -->
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="modal show" id="register-page">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title text-left no-margin"><i class="fas fa-unlock-alt mr-2"></i> <span>
                      Inscription</span></h6>
                </div>
                <!-- Sign up form -->
                <div class="modal-body">
                  <div class="row justify-content-center" *ngIf="this.errorMsg!=='' ||this.successMsg!=='' ">
                    <span class="error-msg"*ngIf="this.errorMsg!==''" >{{errorMsg}}</span>
                    <span class="success-msg" *ngIf="this.successMsg!==''">{{successMsg}}</span>
                  </div>
                  <form [formGroup]="registerForm">
  
                    <div *ngIf="step1">
                      <div class="form-group">
                        <input type="text" name="SIRET" formControlName="SIRET" class="form-control form-control-custom"
                          placeholder="SIRET">
                          <label class="error-msg" *ngIf="registerForm.controls.SIRET.errors?.required && this.isSubmitting ">Champ obligatoire</label>   

                      </div>
                      
                      <div class="form-group">
                        <input type="text" name="companyName" formControlName="companyName" class="form-control form-control-custom"
                          placeholder="Nom de la société">
                          <label class="error-msg" *ngIf="registerForm.controls.companyName.errors?.required && this.isSubmitting ">Champ obligatoire</label>   

                      </div>

                      <div class="form-group">
                        <select class="input-select"  formControlName="companyCategory">
                          <option value="" class="option">Catégorie associée à votre activité</option>
                          <option *ngFor="let cat of categoriesList" class="option" [value]="cat.category">{{cat.category}}</option>
                        </select>
                        <label class="error-msg" *ngIf="registerForm.controls.companyCategory.errors?.required && this.isSubmitting ">Champ obligatoire</label>   

                        <!-- <input type="text" name="companyCategory" formControlName="companyCategory" class="form-control form-control-custom"
                          placeholder="companyCategory"> -->
                      </div>
                      <div class="form-group">
                        <input type="text" name="companyAddress" formControlName="companyAddress" class="form-control form-control-custom"
                          placeholder="Adresse">
                          <label class="error-msg" *ngIf="registerForm.controls.companyAddress.errors?.required && this.isSubmitting ">Champ obligatoire</label>   

                      </div>
                      <div class="form-group">
                        <input type="text" name="companyZipCode" formControlName="companyZipCode" class="form-control form-control-custom"
                          placeholder="Ville ou code postal">
                          <label class="error-msg" *ngIf="registerForm.controls.companyZipCode.errors?.required && this.isSubmitting ">Champ obligatoire</label>   

                      </div>
                      <div class="form-group">
                        <input type="text" name="companyPhone" formControlName="companyPhone" class="form-control form-control-custom"
                          placeholder="Téléphone">
                          <label class="error-msg" *ngIf="registerForm.controls.companyPhone.errors?.required && this.isSubmitting ">Champ obligatoire</label>   

                      </div>
                
                     

                      <!-- <div class="form-group">
                        <button type="submit" class="btn-second orange-btn full-width"
                          (click)="nextStep()">NEXT</button>
                      </div> -->
                    </div>
                  </form>

                  <form [formGroup]="registerForm2">
                    <div *ngIf="step2">
                      <div class="form-group">
                        <label class="type-label pe-2">Civilité</label>
                        </div>
                      <div class=" d-flex justify-content-center gap-2">

                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="radio" value="Monsieur"  formControlName="gender"> <span class="checkmark"></span>Monsieur</label>
                        </div>
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="radio" value="Madame"  formControlName="gender"> <span class="checkmark"></span>Madame</label>
                        </div>
                      <!-- <label  class="label-radio d-flex">
                        <input type="radio" value="Monsieur"  formControlName="gender">
                          <span>Monsieur</span>
                      </label>
                      <label class="label-radio d-flex">
                        <input type="radio" value="Madame"  formControlName="gender">
                          <span>Madame</span>
                      </label> -->
                          <label class="error-msg" *ngIf="registerForm2.controls.gender.errors?.required && this.isSubmitting ">Champ obligatoire</label>   

                      </div>
                      <div class="form-group">
                        <input type="text" name="firstName" formControlName="firstName"
                          class="form-control form-control-custom" placeholder="Prénom">
                          <label class="error-msg" *ngIf="registerForm2.controls.firstName.errors?.required && this.isSubmitting ">Champ obligatoire</label>   

                      </div>

                      <div class="form-group">
                        <input type="text" name="lastName" formControlName="lastName"
                          class="form-control form-control-custom" placeholder="Nom">
                          <label class="error-msg" *ngIf="registerForm2.controls.lastName.errors?.required && this.isSubmitting ">Champ obligatoire</label>   
                      </div>

                      <div class="form-group">
                        <input type="email" name="email" formControlName="email"
                          class="form-control form-control-custom" placeholder="E-mail">
                          <label class="error-msg" *ngIf="registerForm2.controls.email.errors?.email && !registerForm2.controls.email.errors?.required ">Vérifiez l’adresse email, son format n’est pas valide</label>
                          <label class="error-msg" *ngIf="registerForm2.controls.email.errors?.required && this.isSubmitting ">Champ obligatoire</label>   
                       
                      </div>
                      <div class="form-group">
                        <input type="password" autocomplete="on" name="password" formControlName="password"
                          class="form-control form-control-custom" placeholder="MoT de passe">
                          <label class="error-msg" *ngIf="registerForm2.controls.password.errors?.required && this.isSubmitting ">Champ obligatoire</label>   
                          <label class="error-msg" *ngIf="registerForm2.controls.password.errors?.pattern && registerForm2.controls.password.touched">Your password must contain at least 8 chars </label>   
    
                      </div>
                      <div class="form-group">
                        <input type="password" autocomplete="on" name="confirmPassword"
                          formControlName="confirmPassword" class="form-control form-control-custom"
                          placeholder="Retaper le mot de passe">
                          <label class="error-msg" *ngIf="registerForm2.controls.confirmPassword.errors?.required && this.isSubmitting ">Champ obligatoire</label>   
                          <label class="error-msg" *ngIf="registerForm2.errors?.mustMatch &&  !registerForm2.controls.confirmPassword.errors?.required">Les champs doivent correspondre</label>   
                      </div>
                      <!-- <div class="form-group">
                        <button type="submit" class="btn-second orange-btn full-width"  (click)="register()">Sign Up</button>
                      </div> -->
                    </div>
                  </form>
                  <div class="d-flex justify-content-between mb-2">
                    <button (click)="PreviousStep()" *ngIf="step2" class="btn-second orange-btn">Précédent</button>
                    <button  (click)="nextStep()" *ngIf="step1"  class="btn-second orange-btn">Suivant</button>
                    <button  (click)="register()" *ngIf="step2"  class="btn-second orange-btn">S'inscrire</button>
                  </div>
                  <div class="form-excerpts">
                    <ul>
                      <li>Déjà membre? <a routerLink="/login">Se Connecter</a>
                      </li>
                      <li><a class="forgot-pwd">Mot de passe oublié</a>
                      </li>
                    </ul>
                  </div>
                  <!-- <div class="social-login">  <span>Or Signup with</span>
                    <div class="social-btn">  <a routerLink="/register" class="facebook"><i class="fab fa-facebook-f"></i> Facebook</a>
                      <a routerLink="/register" class="google"><i class="fab fa-google-plus-g"></i> Google</a>
                    </div>
                  </div> -->
                </div>
                <!-- Sign up form -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- login -->
  <app-footer2></app-footer2>
</div>