<div class="mobile-menu-second" *ngIf="car">
    <app-header2></app-header2>
    <!-- User Details -->
    <div class="user-page-sec p-relative car-details">
        <div class="car-details-slider" *ngIf="picturesList">
            <div class="slider-item">
                <img [src]="picturesList[0]?.picture" class="img-fluid full-width" alt="#" (error)="onImgError($event)">
            </div>

            <!-- <div class="slider-item"  *ngFor="let p of picturesList">
        <img [src]="p.picture" class="img-fluid full-width" alt="#" >
      </div>  -->

            <!-- <div class="slider-item">
        <img src="assets/images/cardetails/cardetails-1.jpg" class="img-fluid full-width" alt="#">
      </div>
      <div class="slider-item">
        <img src="assets/images/cardetails/cardetails-2.jpg" class="img-fluid full-width" alt="#">
      </div>
      <div class="slider-item">
        <img src="assets/images/cardetails/cardetails-3.jpg" class="img-fluid full-width" alt="#">
      </div>
      <div class="slider-item">
        <img src="assets/images/cardetails/cardetails-4.jpg" class="img-fluid full-width" alt="#">
      </div> -->
        </div>
        <div class="car-details-slider" *ngIf="!picturesList">
            <div class="slider-item">
                <img [src]="" class="img-fluid full-width" alt="#" (error)="onImgError($event)">
            </div>
        </div>
        <div class="slider-contant-wrapper offset-lg-1 col-lg-4 col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="slider-contant">
                        <div class="content-box">
                            <h1 class="text-custom-white">{{car.title}}</h1>
                            <p class="text-custom-white"><i class="fas fa-map-marker-alt"></i>{{car.city}}</p>
                            <!-- <div class="social-share">  <span>Share: </span>
                <div class="user-social-links"> <a routerLink="/details-annonce" class="facebook"><i class="fab fa-facebook-square"></i></a>
                  <a routerLink="/details-annonce" class="twitter"><i class="fab fa-twitter"></i></a>
                  <a routerLink="/details-annonce" class="pintrest"><i class="fab fa-pinterest-square"></i></a>
                </div>
              </div> -->
                        </div>
                        <div class="price-btn"> <span> {{car.price || '0'}} DT</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="user-page-details-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="offset-lg-1 col-lg-10">
            <div class="user-about">
              <div class="row">
                <div class="col-md-6">
                  <div class="user-left-wrapper">
                    <div class="user-img">
                      <img src="assets/images/cardetails/user-1.jpg" class="rounded-circle" alt="#">
                    </div>
                    <div class="user-details">
                      <div class="user-details-top">
                        <h5 class="title text-custom-white">Jhon Deo <span><i class="fas fa-check"></i></span></h5>
                        <span><a routerLink="/details-annonce" class="text-custom-white"><i class="fas fa-map-marker-alt"></i> New York</a></span>
                        <span><a routerLink="/details-annonce" class="text-custom-white"><i class="fas fa-link"></i> @jhon_deo</a></span>
                      </div>
                      <div class="user-social-links"> <a routerLink="/details-annonce" class="facebook"><i class="fab fa-facebook-square"></i></a>
                        <a routerLink="/details-annonce" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a routerLink="/details-annonce" class="pintrest"><i class="fab fa-pinterest-square"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="user-right-wrapper">
                    <div class="star-rating"> <span class="text-yellow"><i class="fas fa-star"></i></span>
                      <span class="text-yellow"><i class="fas fa-star"></i></span>
                      <span class="text-yellow"><i class="fas fa-star"></i></span>
                      <span class="text-yellow"><i class="fas fa-star"></i></span>
                      <span class="text-yellow"><i class="fas fa-star-half-alt"></i></span>
                      <ul>
                        <li class="text-custom-white">5.00 average</li>
                        <li><a routerLink="/details-annonce" class="text-custom-white">3 Reviews</a> 
                        </li>
                      </ul>
                    </div>
                    <div class="comment-details">
                      <ul>
                        <li class="text-dark-white">21 <span>Sold Car</span>
                        </li>
                        <li class="text-dark-white">3 <span>Top Sales</span>
                        </li>
                        <li class="text-dark-white">1 <span>Latest Sale</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
        <div class="space-85"></div>
    </div>
    <!-- User Details -->
    <!-- User page bottom -->
    <div class="listing-with-map car-details">
        <div class="container">
            <div class="row no-use-row">
                <aside class="col-lg-4">
                    <app-advertising-sidebar></app-advertising-sidebar>
                </aside>
                <div class="col-lg-8">
                    <!-- <div class="page-title">
            <h3 class="text-light-black">Ghibli Versions</h3> 
            <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort.A masterful combination of style, power, sporty handling and comfort.</p>
          </div> -->
                    <div class="d-flex gap-3 mt-3" *ngIf="isOwner">
                        <div class="add-car-btn">
                            <a *ngIf="car.category!=='20'" [routerLink]="['/voitures/modifier',car.id]" class="text-custom-white">Modifier</a>
                            <a *ngIf="car.category==='20'" [routerLink]="['/moto/modifier',car.id]" class="text-custom-white">Modifier</a>

                        </div>
                        <div class="add-car-btn" (click)="deleteCar()">
                            <a class="text-custom-white">Supprimer</a>
                        </div>
                    </div>
                    <div class="d-flex gap-3" *ngIf="!isOwner">
                        <div class="add-car-btn">
                            <a class="text-custom-white" (click)="addToFavorites(car.id)">Ajouter à mes Favoris</a>
                        </div>
                    </div>
                    <div class="car-details-tab">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab"
                                    href="#informations">Informations</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link " data-toggle="tab"
                                    href="#tech-spec">Spécifications Techniques</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab"
                                    href="#accessories">Accessoires</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#contact">Contact</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="informations">
                                <div class="car-details-box">
                                    <div class="text-wrapper">
                                        <h5 class="text-light-black">Déscription</h5>
                                        <p class="text-dark-grey">s{{car.Description}}</p>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">INFORMATIONS DE BASE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Type</td>
                                                    <td>{{car.type}}</td>
                                                </tr>
                                                <tr>
                                                <tr>
                                                    <td>Catégorie</td>
                                                    <td *ngIf="car.category==='1'">Voiture</td>
                                                    <td *ngIf="car.category==='20'">Motot</td>

                                                </tr>
                                                <tr>
                                                    <td>Marque</td>
                                                    <td>{{car.brand.value}}</td>
                                                </tr>
                                                <tr *ngIf="car.voitureOption.generation">
                                                    <td>Génération</td>
                                                    <td> {{car.voitureOption.generation.value}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Série</td>
                                                    <td> {{car.voitureOption.serie.value}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Modèle</td>
                                                    <td> {{car.voitureOption.model.value}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Année</td>
                                                    <td>{{car.year}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Kilométrage</td>
                                                    <td>{{car.mileage}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Disponibilité</td>
                                                    <td>{{car.availablity}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Couleur</td>
                                                    <td>{{car.color}}</td>
                                                </tr>

                                                <tr>
                                                    <td>Guarantie</td>
                                                    <td>{{car.guarantee}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tech-spec">
                                <div class="car-details-box">
                                    <div class="table-responsive">

                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Spécifications Techniques</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="!this.arraySpecification">
                                                <tr *ngIf="car.category!=='20'">
                                                    <td>Nombre de portes</td>
                                                    <td>{{car.numberDoors || '-'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Nombre de place</td>
                                                    <td>{{car.seatingCapacity || '-'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Puissance DIN</td>
                                                    <td>{{car.puissanceDIN || '-'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Permis</td>
                                                    <td>{{car.permis || '-'}}</td>
                                                </tr>
                                                <tr *ngIf="car.category!=='20'">
                                                    <td>Carburant</td>
                                                    <td>{{car.carburant|| '-'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Mise en Circulation</td>
                                                    <td>{{car.miseCirculation || '-'}}</td>
                                                </tr>
                                               
                                                    <tr *ngIf="car.category!=='20'">
                                                        <td>Boîte</td>
                                                        <td>{{car.gearbox || '-'}}</td>
                                                    </tr>  
                                                <tr *ngIf="car.category!=='20'">
                                                    <td>Transmission</td>
                                                    <td>{{car.transmission || '-'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Puissance fiscale</td>
                                                    <td>{{car.powerFiscal || '-'}}</td>
                                                </tr>
                                                <tr *ngIf="car.category!=='20'">
                                                    <td>Carrosserie</td>
                                                    <td>{{car.carrisserie || '-'}}</td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="this.arraySpecification">
                                                <tr *ngFor="let s of arraySpecification">
                                                    <td>{{s.name}}</td>
                                                    <td>{{s.value}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="accessories">
                                <div class="car-details-box">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" *ngIf="outsideEquipmentList !==[]">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Equipements extérieurs</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let s of outsideEquipmentList ;let index=index">
                                                    <td class="w-75">{{s.equipment}}</td>
                                                    <td><i class="fas fa-check" aria-hidden="true"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table class="table table-bordered" *ngIf="insideEquipmentList !== []">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Equipements intérieurs</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let s of insideEquipmentList ;let index=index">
                                                    <td class="w-75">{{s.equipment}}</td>
                                                    <td><i class="fas fa-check" aria-hidden="true"></i> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered" *ngIf="securityEquipmentList !==[]">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Equipements de sécurité</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let s of securityEquipmentList;let index=index">
                                                    <td class="w-75">{{s.equipment}}</td>
                                                    <td><i class="fas fa-check" aria-hidden="true"></i> </td>
                                                    <!-- <td><i class="fas fa-times" aria-hidden="true"></i></td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contact">
                                <div class="car-details-box">
                                    <div class="text-wrapper">
                                        <h5 class="text-light-black">Nom et prénom</h5>
                                        <p class="text-dark-grey">{{car.user.username}}</p>
                                        <h5 class="text-light-black">Téléphone</h5>
                                        <p class="text-dark-grey">{{car.phone}}</p>
                                        <h5 class="text-light-black">Gouvernorat</h5>
                                        <p class="text-dark-grey">{{car.city}}</p>
                                        <h5 class="text-light-black">Adresse</h5>
                                        <p class="text-dark-grey">{{car.address}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-slider-sec">
                        <div class="car-detail-slider-for">
                            <div class="slider-item" *ngFor="let p of picturesList">
                                <img [src]="p.picture" class="img-fluid full-width pictures-item" alt="#"
                                    (error)="onImgError($event)">
                            </div>
                            <!-- <div class="slide-item">
                <img src="assets/images/cardetails/gallery-1.jpg" class="img-fluid full-width" alt="#">
              </div> -->
                            <!-- <div class="slide-item">
                <img src="assets/images/cardetails/gallery-2.jpg" class="img-fluid full-width" alt="#">
              </div>
              <div class="slide-item">
                <img src="assets/images/cardetails/gallery-3.jpg" class="img-fluid full-width" alt="#">
              </div>
              <div class="slide-item">
                <img src="assets/images/cardetails/gallery-4.jpg" class="img-fluid full-width" alt="#">
              </div>
              <div class="slide-item">
                <img src="assets/images/cardetails/gallery-6.jpg" class="img-fluid full-width" alt="#">
              </div>
              <div class="slide-item">
                <img src="assets/images/cardetails/gallery-2.jpg" class="img-fluid full-width" alt="#">
              </div> -->
                        </div>
                        <div class="car-detail-slider-nav">
                            <!--   <div class="slider-item" *ngFor="let p of picturesList">
                <img [src]="p.picture" class="img-fluid full-width pictures-item" alt="#">
              </div>
              ***
              <div class="slide-item">
                <img src="assets/images/cardetails/gallery-1a.jpg" class="img-fluid full-width" alt="#">
              </div>
              <div class="slide-item">
                <img src="assets/images/cardetails/gallery-2a.jpg" class="img-fluid full-width" alt="#">
              </div>
              <div class="slide-item">
                <img src="assets/images/cardetails/gallery-3a.jpg" class="img-fluid full-width" alt="#">
              </div>
              <div class="slide-item">
                <img src="assets/images/cardetails/gallery-6a.jpg" class="img-fluid full-width" alt="#">
              </div>
              <div class="slide-item">
                <img src="assets/images/cardetails/gallery-5a.jpg" class="img-fluid full-width" alt="#">
              </div>
              <div class="slide-item">
                <img src="assets/images/cardetails/gallery-6a.jpg" class="img-fluid full-width" alt="#">
              </div> 
            </div>-->
                        </div>
                    </div>
                    <aside class="col-lg-4">
                        <!-- <app-car-detail-sidebar></app-car-detail-sidebar> -->
                    </aside>
                </div>
            </div>
        </div>
        <!-- User page bottom -->
        <app-footer2></app-footer2>
    </div>