<div class="mobile-menu-second">
  <app-header2></app-header2>
  <!-- Sub header -->
  <div class="sub-header-sec p-relative">
    <app-banner-header></app-banner-header>
    <!-- <img src="assets/images/blog/banner/banner-1.jpg" class="img-fluid" alt="Sub header"> -->
    <div class="sub-header-overlay"></div>
    <div class="sub-header-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="sub-header-text-wrapper text-center">
              <h1 class="text-custom-white">GÉRER MES INFORMATIONS</h1>
              <ul class="breadcrumbs">
                <li><a routerLink="/" class="text-custom-white">Accueil</a>
                </li>
                <li><a routerLink="/mon-espace" class="text-custom-white">Mon espace</a>
                </li>
                <li><span class="text-custom-white">Gérer mes informations</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sub header -->
  <section class="section-padding our_articles">
    <div class="container">
      <div class="row">
        <aside class="col-lg-4">
          <app-advertising-sidebar></app-advertising-sidebar>
        </aside>
        <div *ngIf=" this.accountType==='part'" class="col-lg-8">
          <form [formGroup]="updateProfileForm">
            <div class="col-md-8">
              <div class="form-group div-input-file text-center">

                <div class="d-flex justify-content-center text-div-input-file" *ngIf="!userPic">
                  Cliquez ou faites glisser vos photos ici
                </div>
              
                  <img class="picture-car"  *ngIf="userPic" [src]="userPic">
                 
                <input type="file" class="input-pictures" accept="image/*" (change)="onFileChange($event)">

              </div>


            </div>

            <div class="col-md-8">
              <div class="form-group">
                <label>Prénom</label>
                <input type="text" name="firstName" [(ngModel)]="this.user.firstName" formControlName="firstName"
                  class="form-control form-control-custom">
                <label class="error-msg"
                  *ngIf="updateProfileForm.controls.firstName.errors?.required && this.isSubmitting ">Champ
                  obligatoire</label>
              </div>
            </div>
            <div class="col-md-8">
              <label>Nom</label>
              <div class="form-group">
                <input type="text" name="lastName" [(ngModel)]="this.user.lastName" formControlName="lastName"
                  class="form-control form-control-custom">
                <label class="error-msg"
                  *ngIf="updateProfileForm.controls.lastName.errors?.required && this.isSubmitting ">Champ
                  obligatoire</label>
              </div>
            </div>
            <div class="col-md-8">
              <label>Téléphone</label>
              <div class="form-group">
                <input type="number" name="userPhone" [(ngModel)]="this.user.companyPhone"
                  formControlName="companyPhone" class="form-control form-control-custom">
              </div>
            </div>
            <div class="col-lg-12">
              <label>Adresse</label>
              <div class="form-group">
                <textarea class="form-control form-control-custom" [(ngModel)]="this.user.companyAddress"
                  formControlName="companyAddress" rows="5"></textarea>
              </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="this.successMsg!=='' ">
              <span class="success-msg">{{successMsg}}</span>
            </div>
            <div class="form-group">
              <button type="submit" (click)="updateInfo('part')"
                class="btn-second orange-btn full-width">Modifier</button>
            </div>
          </form>

        </div>
        <div *ngIf=" this.accountType==='pro'" class="col-lg-8">

          <form [formGroup]="updateProfileFormPro">
            <div class="col-md-8 ">

              <div class="form-group div-input-file text-center">
                <i class="fas fa-pen update-fas" *ngIf="userPic"> <input type="file" class="input-pictures"
                    accept="image/*" (change)="onFileChange($event)"></i>
                <div class="d-flex justify-content-center text-div-input-file" *ngIf="!userPic">
                  Cliquez ou faites glisser vos photos ici
                </div>
                <img *ngIf="userPic" class="picture-car" [src]="userPic">
                <input type="file" class="input-pictures" accept="image/*" (change)="onFileChange($event)">
              </div>
            </div>
            <!-- <div *ngIf="userPic">
                  <div class="col p-2">
                  </div>
                  </div> -->
            <!-- <div class="col-md-8">
              <div class="form-group">
                <img
                [src]="user.photo"
                (error)="onImgError($event)"
                class="avatar"
              />
              <i class="fas fa-pen fas-update"  (click)="openModal(pictureModal)"></i>
                <label class="error-msg"
                  *ngIf="updateProfileFormPro.controls.photo.errors?.required && this.isSubmitting ">Champ
                  obligatoire</label>
              </div>
            </div> -->
            <div class="col-md-8">
              <div class="form-group">
                <label>Prénom</label>
                <input type="text" name="firstName" [(ngModel)]="this.user.firstName" formControlName="firstName"
                  class="form-control form-control-custom">
                <label class="error-msg"
                  *ngIf="updateProfileFormPro.controls.firstName.errors?.required && this.isSubmitting ">Champ
                  obligatoire</label>
              </div>
            </div>
            <div class="col-md-8">
              <label>Nom</label>
              <div class="form-group">
                <input type="text" name="lastName" [(ngModel)]="this.user.lastName" formControlName="lastName"
                  class="form-control form-control-custom">
                <label class="error-msg"
                  *ngIf="updateProfileFormPro.controls.lastName.errors?.required && this.isSubmitting ">Champ
                  obligatoire</label>
              </div>
            </div>
            <div class="col-md-8">
              <label>Nom de la société</label>
              <div class="form-group">
                <input type="text" name="companyName" [(ngModel)]="this.user.companyName" formControlName="companyName"
                  class="form-control form-control-custom">
                <label class="error-msg"
                  *ngIf="updateProfileFormPro.controls.companyName.errors?.required && this.isSubmitting ">Champ
                  obligatoire</label>
              </div>
            </div>

            <div class="col-md-8">
              <label>Téléphone</label>
              <div class="form-group">
                <input type="number" name="companyPhone" [(ngModel)]="this.user.companyPhone"
                  formControlName="companyPhone" class="form-control form-control-custom">
              </div>
              <label class="error-msg"
                *ngIf="updateProfileFormPro.controls.companyPhone.errors?.required && this.isSubmitting ">Champ
                obligatoire</label>

            </div>
            <div class="col-md-8">
              <label>Ville ou code postal</label>
              <div class="form-group">
                <input type="text" name="companyZipCode" [(ngModel)]="this.user.companyZipCode"
                  formControlName="companyZipCode" class="form-control form-control-custom">
              </div>
              <label class="error-msg"
                *ngIf="updateProfileFormPro.controls.companyZipCode.errors?.required && this.isSubmitting ">Champ
                obligatoire</label>

            </div>
            <div class="col-md-8">
              <label>Catégorie associée à votre activité</label>
              <div class="form-group">
                <select class="input-select" [(ngModel)]="this.user.companyCategory" formControlName="companyCategory">
                  <option value="" class="option"></option>
                  <option *ngFor="let cat of categoriesList" class="option" [value]="cat.category">{{cat.category}}
                  </option>
                </select>
              </div>
              <label class="error-msg"
                *ngIf="updateProfileFormPro.controls.companyCategory.errors?.required && this.isSubmitting ">Champ
                obligatoire</label>

            </div>
            <div class="col-lg-12">
              <label>Adresse</label>
              <div class="form-group">
                <textarea class="form-control form-control-custom" [(ngModel)]="this.user.companyAddress"
                  formControlName="companyAddress" rows="5"></textarea>
              </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="this.successMsg!=='' ">
              <span class="success-msg">{{successMsg}}</span>
            </div>
            <div class="form-group">
              <button type="submit" (click)="updateInfo('pro')"
                class="btn-second orange-btn full-width">Modifier</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>
  <app-footer2></app-footer2>
</div>
<!-- <ng-template #pictureModal>
  <div class="modal-header modal-customm">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      (click)="closeModal(pictureModal); imageChangedEvent = ''"
    ></button>
  </div>
  <div
    class="
      modal-body modal-customm
      d-flex
      flex-column
      justify-content-center
      align-items-center
      modal-customm
    "
  >
    <form
      [formGroup]="updateProfileForm"
      id="updateProfileForm"
      class="mx-lg-4 mx-md-4"
    >
      <div class="row d-flex justify-content-center">
        <div class="col-10 d-flex justify-content-center">
          <h5>
            <label class="bold-title-modal">
              Télécharger nouveau image
            </label>
          </h5>
        </div>
      </div>

      <div class="row mt-2 mx-lg-1 mx-sm-1">
        <div class="col-12 d-flex justify-content-center">
          <div class="cropArea">
            <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="4 / 4"
              format="png"
              (imageCropped)="imageCropped($event)"
              [roundCropper]="true"
              [cropperMinWidth]="90"
              [resizeToWidth]="300"
              [imageBase64]="
                user.photo.changingThisBreaksApplicationSecurity
              "
              [imageURL]="user.photo"
            >
            </image-cropper>
          </div>
        </div>
      </div>
     
      <div class="row d-flex justify-content-start mt-2">
        <div
          class="col-4 error"
          *ngIf="
            this.updateProfileForm.get('photo')?.errors?.required &&
            this.updateProfileForm.get('photo')?.touched
          "
        >Champs obligatoire</span>
        </div>
      </div>
      <input
        type="file"
        name="file"
        formControlName="photo"
        (change)="fileChangeEvent($event)"
        accept="image/*"
        [hidden]="true"
        id="selectAvatar"
      />

      <label
        class="
          btn-choose-pic btn-primary-action
          d-flex
          justify-content-center
          gap-2
          align-items-center
          my-2
        "
        for="selectAvatar"
      >
        <img src="assets/Images/upload-icon.svg" />
        <span>Choisir une image</span>
      </label>

      <button
        type="submit"
        class="
          btn-green
          d-flex
          justify-content-center
          gap-2
          align-items-center
        "
        [disabled]="!this.srcFile"
      >
        <img src="assets/Images/save-icon.svg" alt="" />
        <span>Enregistrer</span>
      </button>
    </form>
  </div>
</ng-template> -->