.max-height-img{
    max-height: 197px;
    max-width: 350px;
    height: 197px;
}
.gray-fa-heart{
color:#a5a5a5
}
.gray-fa-heart:hover{
    color:#ff6e14
    }
.orange-fa-heart{
    color: #ff6e14;
}
.orange-fa-heart:hover{
    color: #c0562a;
}
.banner-tabs ul li a{
   cursor: pointer;
}
.banner-tabs ul li a img{
    filter: invert(1);
}
.banner-tabs ul li a span{
   color: white;
}
.vehicles-slider-item {
    height: 150px;
}