<app-header2></app-header2>
<!-- Banner sec -->
    <section class="banner-slider p-relative">
      <app-banner-header></app-banner-header>
      <!-- <img src="assets/images/car-pictures/téléchargement (1).jpg" class="img-fluid full-width" alt="Banner"> -->
      <div class="bannerimg-overlay"></div>
      <div class="banner-wrapper">
        <div class="container">
          <div class="offset-lg-2 col-lg-8">
            <div class="banner-text-wrapper-index-3">
              <h1 class="text-custom-white">Find a car in <span class="text-orange">New York City</span></h1>
              <p class="text-custom-white">Découvrons le meilleur showroom automobile le plus proche de chez vous.</p>
              <div class="space-20"></div>
              <div class="space-10"></div>
              <!-- dekstop search -->
              <div class="search-bar-index-3 align-item-center d-none d-md-block">
                <div class="input-group" id="input-group">
                  <div class="input-group-prepend"> <span class="input-group-text">Quel</span>
                  </div>
                  <input type="text" class="form-control border-0" id="myInput" onkeyup="filterFunction()" placeholder="Ex: Luxury Car, Sports Car, Vintage Car, Excutive Car, Economy Car">
                  <ul class="filter-option">
                    <li><a routerLink="/homepage2">Luxury Car</a>
                    </li>
                    <li><a routerLink="/homepage2">Sports Car</a>
                    </li>
                    <li><a routerLink="/homepage2">Vintage Car</a>
                    </li>
                    <li><a routerLink="/homepage2">Excutive Car</a>
                    </li>
                    <li><a routerLink="/homepage2">Economy Car</a>
                    </li>
                  </ul>
                  <div class="input-group-prepend"> <span class="input-group-text">Où</span>
                    <button class="gps" type="button"><i class="fas fa-crosshairs"></i>
                    </button>
                  </div>
                  <input type="text" class="form-control border-0" placeholder="Your City">
                  <div class="input-group-prepend">
                    <button class="btn-second orange-btn" type="button"><i class="flaticon-search"></i> Rechercher</button>
                  </div>
                </div>
              </div>
              <!-- dekstop search -->
              <!-- mobile search -->
              <div class="search-bar-index-3 align-item-center d-block d-md-none">
                <div class="input-group mb-3">
                  <div class="input-group-prepend"> <span class="input-group-text">Quel</span>
                  </div>
                  <input type="text" class="form-control border-0" placeholder="Ex: Luxury Car, Sports Car, Vintage Car, Excutive Car, Economy Car">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend"> <span class="input-group-text">Où</span>
                    <button class="gps" type="button"><i class="fas fa-crosshairs"></i>
                    </button>
                  </div>
                  <input type="text" class="form-control border-0" placeholder="Your City">
                </div>
                <button class="btn-second orange-btn full-width" type="button"><i class="flaticon-search"></i> Search</button>
              </div>
              <!-- mobile search -->
              <div class="space-20"></div>
              <div class="space-20"></div>
              <p class="text-custom-white small-content">Juste en regardant autour de vous ? Laissez-nous vous suggérer quelque chose de chaud et qui se passe !</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Banner sec -->
    <div class="banner-tab-sec">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner-tabs align-item-center">
              <ul>
                <li>
                  <a routerLink="/homepage2" class="align-item-center">
                  <img src="assets/images/luxury-car.png" alt="Car Image">	<span>Luxury Car</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/homepage2" class="align-item-center">
                  <img src="assets/images/sports-car.png" alt="Car Image">	<span>Sports Car</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/homepage2" class="align-item-center">
                  <img src="assets/images/vintage-car.png" alt="Car Image">	<span>Vintage Car</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/homepage2" class="align-item-center">
                  <img src="assets/images/excutive-car.png" alt="Car Image">	<span>Excutive Car</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/homepage2" class="align-item-center">
                  <img src="assets/images/economy-car.png" alt="Car Image">	<span>Economy Car</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="space-60"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Find Your Best Match -->
    <section class="section-padding vehicles-slider-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="section-header">
              <div class="text-wrapper text-center">
                <h3 class="fw-500 no-margin">Trouvez votre meilleur partenaire</h3>
                <span class="line-grey"></span><span class="line-orange"></span><span class="line-grey"></span> 
                <p class="text-dark-grey">Une combinaison magistrale de style, de puissance, de tenue de route sportive et de confort. Une combinaison magistrale de style, de puissance, de tenue de route sportive et de confort.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 p-relative">
            <div class="vehicles-slider-for">
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo1.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Audi</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo2.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">BMW</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo3.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Cord</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo4.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Dodge</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo5.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Eagle</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo6.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Ferrari</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo7.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">GTA</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo8.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Hyundai</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo1.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Imperial</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo2.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Jaguar</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo3.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Kia</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo4.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Lamborghini</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo5.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Maserati</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo6.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Mercedes-Benz</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo1.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Nissan</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo7.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Orca</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo2.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Porsche</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo8.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Quant</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo1.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">RMR</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo2.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Suzuki</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo8.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Toyota</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo5.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Ultima</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo5.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Vauxhall</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo6.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Wanderer</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo7.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Yamaha</span>
                </a>
              </div>
              <div class="vehicles-slider-item  text-center padding-10">
                <a routerLink="/car-page">
                <img src="assets/images/logos/logo8.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Zagato</span>
                </a>
              </div>
            </div>
            <div class="row vehicles-border">
              <div class="vehicles-slider-nav col-12">
                <div class="vehicles-slider-nav-item"> <span>A</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>B</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>C</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>D</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>E</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>F</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>G</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>H</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>I</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>J</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>K</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>L</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>M</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>N</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>O</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>P</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>Q</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>R</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>S</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>T</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>U</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>V</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>W</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>X</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>Y</span>
                </div>
                <div class="vehicles-slider-nav-item"> <span>Z</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Find Your Best Match -->
    <!-- car boxes -->
    <div class="listing-with-map section-padding">
      <div class="container-fluid">
        <div class="row">
          <aside class="col-xl-3 col-lg-4">
            <div class="side-search-bar h-auto mb-4">
              <div class="title-icon">
                <h5 class="title"><i class="flaticon-search"></i>Rechercher dans l'annonce</h5>
              </div>
              <div class="widget-search-filter">
                <div class="widget-content">
                  <form>
                    <div class="form-group">
                      <input type="text" name="search" [(ngModel)]="searchData" class="form-control form-control-custom" placeholder="Que cherchez-vous?">
                    </div>
                    <div class="form-group">
                      <select class="form-control form-control-custom">
                        <option value="">Catégorie</option>
                        <option *ngFor="let c of categoriesList" [value]="c.category">{{c.category}} Car</option>
                      </select>
                    </div>
                
                    <div class="form-group">
                      <select class="form-control form-control-custom">
                        <option value="">Gouvernorat</option>
                        <option value="Ariana">Ariana</option>
                        <option value="Béja">Béja</option>
                        <option value="Ben Arous">Ben Arous</option>
                        <option value="Bizerte">Bizerte</option>
                        <option value="Gabès">Gabès</option>
                        <option value="Gafsa">Gafsa</option>
                        <option value="Jendouba">Jendouba</option>
                        <option value="Kairouan">Kairouan</option>
                        <option value="Kasserine">Kasserine</option>
                        <option value="Kébili">Kébili</option>
                        <option value="La Manouba">La Manouba</option>
                        <option value="Le Kef">Le Kef</option>
                        <option value="Mahdia">Mahdia</option>
                        <option value="Médenine">Médenine</option>
                        <option value="Monastir">Monastir</option>
                        <option value="Nabeul">Nabeul</option>
                        <option value="Sfax">Sfax</option>
                        <option value="Sidi Bouzid">Sidi Bouzid</option>
                        <option value="Siliana">Siliana</option>
                        <option value="Sousse">Sousse</option>
                        <option value="Tataouine">Tataouine</option>
                        <option value="Tozeur">Tozeur</option>
                        <option value="Tunis">Tunis</option>
                        <option value="Zaghouan">Zaghouan</option>
                      </select>
                    </div>
                    <!-- <div class="form-group location-box p-relative">
                      <input type="text" class="form-control form-control-custom" placeholder="Location">
                    </div> -->
                    <!-- <div class="form-group">
                      <div class="search-distance-value">Radius: <input type="text" class="range-slider-value distance-value" readonly></div>
                      <div id="search_distance"></div>
                    </div> -->
                    <div class="form-group">
                      <div class="search-search-price">Prix: $ 1 -
                        <input type="text" class="range-slider-value price-value" readonly>
                      </div>
                      <div id="search_price"></div>
                    </div>
                    <!-- <div class="form-group">
                      <strong>Filter By Features</strong>
                      <div class="tags-form-group">
                        <div class="form-group">
                          <label class="custom-checkbox">
                          <input type="checkbox" name="#">	<span class="checkmark"></span> Coupons</label>
                        </div>
                        <div class="form-group">
                          <label class="custom-checkbox">
                          <input type="checkbox" name="#">	<span class="checkmark"></span> Smoking Allowed</label>
                        </div>
                        <div class="form-group">
                          <label class="custom-checkbox">
                          <input type="checkbox" name="#">	<span class="checkmark"></span> Accessories</label>
                        </div>
                        <div class="form-group">
                          <label class="custom-checkbox">
                          <input type="checkbox" name="#">	<span class="checkmark"></span> Camping</label>
                        </div>
                        <div class="form-group">
                          <label class="custom-checkbox">
                          <input type="checkbox" name="#">	<span class="checkmark"></span> Field trips</label>
                        </div>
                        <div class="form-group">
                          <label class="custom-checkbox">
                          <input type="checkbox" name="#">	<span class="checkmark"></span> Getway</label>
                        </div>
                        <div class="form-group">
                          <label class="custom-checkbox">
                          <input type="checkbox" name="#">	<span class="checkmark"></span> Hot Spots</label>
                        </div>
                      </div>
                    </div> -->
                    <div class="form-submit text-center">
                      <button type="submit" class="btn-second orange-btn">Filtrer</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="side-search-bar h-auto mb-4">
              <aside class="col-lg-12">
                <app-advertising-sidebar></app-advertising-sidebar>
              </aside>
              <!-- <div class="title-icon">
                <h5 class="title"><i class="flaticon-checklist"></i> Advertisement</h5>
              </div>
              <div class="widget-search-filter mb-0">
                <div class="widget-content">
                <div class="advertisement">
                    <a routerLink="/homepage2" target="_blank">
                    <img src="assets/images/ad.jpg" class="img-fluid full-width" alt="advertisement">
                    </a>
                  </div>
                </div>
              </div> -->
            </div>
          </aside>
          <div class="col-xl-9 col-lg-8">
            <div class="title-head">
              <h5>Voitures <small class="text-dark-white fw-400 rubik">Affichage de {{carListLength}} résultats</small></h5>
            </div>
            <div class="right-section-car-box">
              <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6" *ngFor="let car of carsList | filter : searchData">
                  <div class="car-grid-layout-box">
                    <div class="car-grid-layout-inner text-center">
                      <h5 class="car-name"><a  [routerLink]="['car-detail',car.id]"  class="text-light-black">{{car.brand}} {{car.model}}</a>
                     <!-- [ngClass]="{'orange-fa-heart':car.useId === this.userId }"-->
                        <span *ngIf="car.userId !== this.userId" class="gray-fa-heart float-right custom-tooltip" data-tip="Sauvgarder"><i class="fa fa-heart"></i></span>
                      </h5>
                      <h6 class="text-light-black text-uppercase mb-2">{{car.title}}</h6>
                      <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort.</p>
                      <span class="text-orange price-text">${{car.price || '0'}}</span>
                      <div class="car-grid-layout-img">
                        <img [src]="car.pictureVoitures[0]?.picture" (error)="onImgError($event)" class="img-fluid full-width max-height-img" alt="Car img">
                      </div>
                      <div class="car-grid-layout-details">	<span class="text-dark-white"><i class="flaticon-dashboard text-orange mr-2"></i>{{car.mileage || '0'}} Km</span>
                        <span class="text-dark-white p-relative"><i class="icon-car"></i> {{car.year || '0'}} Model</span>
                      </div>
                      <div class="car-grid-layout-location">	<span class="text-dark-white"><i class="fas fa-map-marker-alt mr-2"></i>{{car.city}}</span>
                        <span class="text-dark-white"><i class="fas fa-cog mr-2"></i>{{car.gearbox}}</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
     
      </div>
    </div>
    <!-- car boxes -->
    <!-- In the Media -->
    <!-- <section class="section-padding side-video-img-sec-main p-relative pb-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="section-header">
              <div class="text-wrapper text-center">
                <h3 class="fw-500 no-margin">In the Media</h3>
                <span class="line-grey"></span><span class="line-orange"></span><span class="line-grey"></span> 
                <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort. A masterful combination of style, power, sporty handling and comfort.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row changedirct">
          <div class="col-xl-2 col-lg-3 col-md-3">
            <div class="first-video-img-sec">
              <ul class="gallery-slider-nav d-none d-md-block">
                <li class="w-50 gallery-active">
                  <a routerLink="/homepage2">
                  <img src="assets/images/media/media-1a.jpg" class="img-fluid full-width" alt="#">
                  </a>
                  <div class="overlay"></div>
                </li>
                <li class="w-50">
                  <a routerLink="/homepage2">
                  <img src="assets/images/media/media-2a.jpg" class="img-fluid full-width" alt="#">
                  </a>
                  <div class="overlay"></div>
                </li>
                <li class="w-50">
                  <a routerLink="/homepage2">
                  <img src="assets/images/media/media-3a.jpg" class="img-fluid full-width" alt="#">
                  </a>
                  <div class="overlay"></div>
                </li>
                <li class="w-50">
                  <a routerLink="/homepage2">
                  <img src="assets/images/media/media-4a.jpg" class="img-fluid full-width" alt="#">
                  </a>
                  <div class="overlay"></div>
                </li>
                <li class="w-50">
                  <a routerLink="/homepage2">
                  <img src="assets/images/media/media-5a.jpg" class="img-fluid full-width" alt="#">
                  </a>
                  <div class="overlay"></div>
                </li>
                <li class="w-50">
                  <a routerLink="/homepage2">
                  <img src="assets/images/media/media-6a.jpg" class="img-fluid full-width" alt="#">
                  </a>
                  <div class="overlay"></div>
                </li>
                <li class="w-50">
                  <a routerLink="/homepage2">
                  <img src="assets/images/media/media-2b.jpg" class="img-fluid full-width" alt="#">
                  </a>
                  <div class="overlay"></div>
                </li>
                <li class="w-50">
                  <a routerLink="/homepage2">
                  <img src="assets/images/media/media-3b.jpg" class="img-fluid full-width" alt="#">
                  </a>
                  <div class="overlay"></div>
                </li>
                <li class="w-50">
                  <a routerLink="/homepage2">
                  <img src="assets/images/media/media-4b.jpg" class="img-fluid full-width" alt="#">
                  </a>
                  <div class="overlay"></div>
                </li>
                <li class="w-50">
                  <a routerLink="/homepage2">
                  <img src="assets/images/media/media-5b.jpg" class="img-fluid full-width" alt="#">
                  </a>
                  <div class="overlay"></div>
                </li>
                <li class="w-50">
                  <a routerLink="/homepage2">
                  <img src="assets/images/media/media-1a.jpg" class="img-fluid full-width" alt="#">
                  </a>
                  <div class="overlay"></div>
                </li>
                <li class="w-50">
                  <a routerLink="/homepage2">
                  <img src="assets/images/media/media-6b.jpg" class="img-fluid full-width" alt="#">
                  </a>
                  <div class="overlay"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-10 col-lg-9 col-md-9">
            <div class="second-video-img-sec">
              <div class="gallery-slider-for">
                <div class="gallery-slider-item">
                  <div class="video_wrapper video_wrapper_full js-videoWrapper">
                    <iframe class="videoIframe js-videoIframe" src="https://www.youtube.com/embed/pbiEfJd2Hpw" data-src="https://www.youtube.com/embed/pbiEfJd2Hpw?autoplay=1&rel=0" allow="autoplay"></iframe>
                    <div class="videoPoster js-videoPoster">
                      <img src="assets/images/media/media-1.jpg" class="img-fluid full-width" alt="#">
                      <div class="video-inner"> <i class="flaticon-triangle"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-slider-item">
                  <img src="assets/images/media/media-2.jpg" class="img-fluid full-width" alt="#">
                </div>
                <div class="gallery-slider-item">
                  <img src="assets/images/media/media-3.jpg" class="img-fluid full-width" alt="#">
                </div>
                <div class="gallery-slider-item">
                  <img src="assets/images/media/media-4.jpg" class="img-fluid full-width" alt="#">
                </div>
                <div class="gallery-slider-item">
                  <img src="assets/images/media/media-5.jpg" class="img-fluid full-width" alt="#">
                </div>
                <div class="gallery-slider-item">
                  <img src="assets/images/media/media-6.jpg" class="img-fluid full-width" alt="#">
                </div>
                <div class="gallery-slider-item">
                  <img src="assets/images/media/media-1.jpg" class="img-fluid full-width" alt="#">
                </div>
                <div class="gallery-slider-item">
                  <img src="assets/images/media/media-2.jpg" class="img-fluid full-width" alt="#">
                </div>
                <div class="gallery-slider-item">
                  <img src="assets/images/media/media-3.jpg" class="img-fluid full-width" alt="#">
                </div>
                <div class="gallery-slider-item">
                  <img src="assets/images/media/media-4.jpg" class="img-fluid full-width" alt="#">
                </div>
                <div class="gallery-slider-item">
                  <img src="assets/images/media/media-1.jpg" class="img-fluid full-width" alt="#">
                </div>
                <div class="gallery-slider-item">
                  <img src="assets/images/media/media-6.jpg" class="img-fluid full-width" alt="#">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- In the Media -->
    <!-- Sponsored Sports Cars -->
    <section class="section-padding model-spec-sec  bg-light-theme pb-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="section-header">
              <div class="text-wrapper text-center">
                <h3 class="fw-500 no-margin">Voitures de sport sponsorisées</h3>
                <span class="line-grey"></span><span class="line-orange"></span><span class="line-grey"></span> 
                <p class="text-dark-grey">Une combinaison magistrale de style, de puissance, de tenue de route sportive et de confort. Une combinaison magistrale de style, de puissance, de tenue de route sportive et de confort.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="p-relative">
              <div class="model-spec-slider">
                <div class="model-spec-slider-item p-relative">
                  <div class="model-spec-top-sec bg-light-theme">
                    <a routerLink="/car-detail">
                      <h4 class="text-dark-grey">BMW 535i</h4>
                      <p class="text-dark-grey">From <strong>$ 34,950.00</strong>
                      </p>
                      <p class="text-dark-grey no-margin">*Manufacturer’s Suggested Retail Price. Excludes options; taxes; title; registration; delivery, processing and handling fee; dealer charges.</p>
                    </a>
                  </div>
                  <img src="assets/images/showcar2.jpg" class="img-fluid full-width" alt="Model Image">
                  <div class="bg-white">
                    <div class="model-spec-wrapper">
                      <div class="model-spec-bottom-sec">
                        <ul>
                          <li>
                            <h5 class="text-custom-black">379 hp</h5>
                            <p class="text-custom-black">Max. power</p>
                          </li>
                          <li>
                            <h5 class="text-custom-black">4.2 s</h5>
                            <p class="text-custom-black">0-60 mph</p>
                          </li>
                          <li>
                            <h5 class="text-custom-black">180 mph</h5>
                            <p class="text-custom-black">Top Track Speed</p>
                          </li>
                          <li>
                            <h5 class="text-custom-black">6,500 rpm</h5>
                            <p class="text-custom-black">Max. power at rpm</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="model-spec-slider-item p-relative">
                  <div class="model-spec-top-sec bg-light-theme">
                    <a routerLink="/car-detail">
                      <h4 class="text-dark-grey">Audi TT v2</h4>
                      <p class="text-dark-grey">From <strong>$ 32,500.00</strong>
                      </p>
                      <p class="text-dark-grey no-margin">*Manufacturer’s Suggested Retail Price. Excludes options; taxes; title; registration; delivery, processing and handling fee; dealer charges.</p>
                    </a>
                  </div>
                  <img src="assets/images/showcar1.jpg" class="img-fluid full-width" alt="Model Image">
                  <div class="bg-white">
                    <div class="model-spec-wrapper">
                      <div class="model-spec-bottom-sec">
                        <ul>
                          <li>
                            <h5 class="text-custom-black">379 hp</h5>
                            <p class="text-custom-black">Max. power</p>
                          </li>
                          <li>
                            <h5 class="text-custom-black">4.0 s</h5>
                            <p class="text-custom-black">0-60 mph</p>
                          </li>
                          <li>
                            <h5 class="text-custom-black">180 mph</h5>
                            <p class="text-custom-black">Top Track Speed</p>
                          </li>
                          <li>
                            <h5 class="text-custom-black">6,500 rpm</h5>
                            <p class="text-custom-black">Max. power at rpm</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="model-spec-slider-item p-relative">
                  <div class="model-spec-top-sec bg-light-theme">
                    <a routerLink="/car-detail">
                      <h4 class="text-dark-grey">Mercedes-Benz E-Class</h4>
                      <p class="text-dark-grey">From <strong>$ 25,900.00</strong>
                      </p>
                      <p class="text-dark-grey no-margin">*Manufacturer’s Suggested Retail Price. Excludes options; taxes; title; registration; delivery, processing and handling fee; dealer charges.</p>
                    </a>
                  </div>
                  <img src="assets/images/showcar3.jpg" class="img-fluid full-width" alt="Model Image">
                  <div class="bg-white">
                    <div class="model-spec-wrapper">
                      <div class="model-spec-bottom-sec">
                        <ul>
                          <li>
                            <h5 class="text-custom-black">379 hp</h5>
                            <p class="text-custom-black">Max. power</p>
                          </li>
                          <li>
                            <h5 class="text-custom-black">4.2 s</h5>
                            <p class="text-custom-black">0-60 mph</p>
                          </li>
                          <li>
                            <h5 class="text-custom-black">179 mph</h5>
                            <p class="text-custom-black">Top Track Speed</p>
                          </li>
                          <li>
                            <h5 class="text-custom-black">6,500 rpm</h5>
                            <p class="text-custom-black">Max. power at rpm</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="model-spec-slider-item p-relative">
                  <div class="model-spec-top-sec bg-light-theme">
                    <a routerLink="/car-detail">
                      <h4 class="text-dark-grey">Panamera Turbo S E-Hybrid Executive</h4>
                      <p class="text-dark-grey">From <strong>$ 198, 100.00</strong>
                      </p>
                      <p class="text-dark-grey no-margin">*Manufacturer’s Suggested Retail Price. Excludes options; taxes; title; registration; delivery, processing and handling fee; dealer charges.</p>
                    </a>
                  </div>
                  <img src="assets/images/showcar2.jpg" class="img-fluid full-width" alt="Model Image">
                  <div class="bg-white">
                    <div class="model-spec-wrapper">
                      <div class="model-spec-bottom-sec">
                        <ul>
                          <li>
                            <h5 class="text-custom-black">433 hp</h5>
                            <p class="text-custom-black">Max. power</p>
                          </li>
                          <li>
                            <h5 class="text-custom-black">3.3 s</h5>
                            <p class="text-custom-black">0-60 mph</p>
                          </li>
                          <li>
                            <h5 class="text-custom-black">191 mph</h5>
                            <p class="text-custom-black">Top Track Speed</p>
                          </li>
                          <li>
                            <h5 class="text-custom-black">6,500 rpm</h5>
                            <p class="text-custom-black">Max. power at rpm</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="model-spec-slider-arrows">
                <div class="model-spec-slider-prevtab slick-arrow"> <i class="flaticon-left-chevron"></i>
                </div>
                <div class="model-spec-slider-nexttab slick-arrow"> <i class="flaticon-right-chevron"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Sponsored Sports Cars -->
    <!-- Models Currently Trending -->
    <!-- <section class="section-padding model-gallery">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="section-header">
              <div class="text-wrapper text-center">
                <h3 class="fw-500 no-margin">Models Currently Trending</h3>
                <span class="line-grey"></span><span class="line-orange"></span><span class="line-grey"></span> 
                <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort. A masterful combination of style, power, sporty handling and comfort.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="custom-col">
            <img src="assets/images/trendingmodels/trending1.jpg" class="img-fluid full-width" alt="Image">
            <div class="model-gallery-caption">
              <div class="model-gallery-wrapper-1">
                <h3 class="text-custom-white model-gal-title">Acura</h3>
                <h6 class="text-custom-white rubik">From <strong>$ 25,900.00*</strong></h6>
              </div>
              <div class="model-gallery-wrapper-2"> <a routerLink="/listing" class="btn-second orange-btn">View Category</a>
                <a routerLink="/listing" class="btn-fourth border-btn">All Models</a>
              </div>
            </div>
          </div>
          <div class="custom-col">
            <img src="assets/images/trendingmodels/trending2.jpg" class="img-fluid full-width" alt="Image">
            <div class="model-gallery-caption">
              <div class="model-gallery-wrapper-1">
                <h3 class="text-custom-white model-gal-title">Audi</h3>
                <h6 class="text-custom-white rubik">From <strong>$ 32,500.00*</strong></h6>
              </div>
              <div class="model-gallery-wrapper-2"> <a routerLink="/listing" class="btn-second orange-btn">View Category</a>
                <a routerLink="/listing" class="btn-fourth border-btn">All Models</a>
              </div>
            </div>
          </div>
          <div class="custom-col">
            <img src="assets/images/trendingmodels/trending3.jpg" class="img-fluid full-width" alt="Image">
            <div class="model-gallery-caption">
              <div class="model-gallery-wrapper-1">
                <h3 class="text-custom-white model-gal-title">BMW</h3>
                <h6 class="text-custom-white rubik">From <strong>$ 34,950.00*</strong></h6>
              </div>
              <div class="model-gallery-wrapper-2"> <a routerLink="/listing" class="btn-second orange-btn">View Category</a>
                <a routerLink="/listing" class="btn-fourth border-btn">All Models</a>
              </div>
            </div>
          </div>
          <div class="custom-col">
            <img src="assets/images/trendingmodels/trending4.jpg" class="img-fluid full-width" alt="Image">
            <div class="model-gallery-caption">
              <div class="model-gallery-wrapper-1">
                <h3 class="text-custom-white model-gal-title">Ford</h3>
                <h6 class="text-custom-white rubik">From <strong>$ 14,260.00*</strong></h6>
              </div>
              <div class="model-gallery-wrapper-2"> <a routerLink="/listing" class="btn-second orange-btn">View Category</a>
                <a routerLink="/listing" class="btn-fourth border-btn">All Models</a>
              </div>
            </div>
          </div>
          <div class="custom-col">
            <img src="assets/images/trendingmodels/trending5.jpg" class="img-fluid full-width" alt="Image">
            <div class="model-gallery-caption">
              <div class="model-gallery-wrapper-1">
                <h3 class="text-custom-white model-gal-title">Range Rover</h3>
                <h6 class="text-custom-white rubik">From <strong>$ 37,800.00*</strong></h6>
              </div>
              <div class="model-gallery-wrapper-2"> <a routerLink="/listing" class="btn-second orange-btn">View Category</a>
                <a routerLink="/listing" class="btn-fourth border-btn">All Models</a>
              </div>
            </div>
          </div>
          <div class="custom-col">
            <img src="assets/images/trendingmodels/trending6.jpg" class="img-fluid full-width" alt="Image">
            <div class="model-gallery-caption">
              <div class="model-gallery-wrapper-1">
                <h3 class="text-custom-white model-gal-title">Maserati</h3>
                <h6 class="text-custom-white rubik">From <strong>$ 74,980.00*</strong></h6>
              </div>
              <div class="model-gallery-wrapper-2"> <a routerLink="/listing" class="btn-second orange-btn">View Category</a>
                <a routerLink="/listing" class="btn-fourth border-btn">All Models</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Models Currently Trending -->
    <!-- In Media -->
    
    <!-- In Media -->
<app-footer2></app-footer2>

    <!-- <div class="modal fade" id="register">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title text-left no-margin"><i class="fas fa-unlock-alt mr-2"></i> <span id="signup-text">Sign Up</span><span
              id="signin-text" class="none">Sign In</span></h6>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
         Sign up form 
          <div class="modal-body" id="signup-form">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" name="#" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="#" placeholder="Password">
              </div>
              <div class="form-group">
                <button type="submit" class="btn-second orange-btn full-width">Sign Up</button>
              </div>
            </form>
            <div class="form-excerpts">
              <ul>
                <li>Already a member? <a href="javascript:void(0)" id="signin-btn">Sign In</a>
                </li>
                <li><a routerLink="/homepage2">Recover Password</a>
                </li>
              </ul>
            </div>
            <div class="social-login">
              <span>Or Signup with</span>
              <div class="social-btn">	<a routerLink="/homepage2" class="facebook"><i class="fab fa-facebook-f"></i> Facebook</a>
                <a routerLink="/homepage2" class="google"><i class="fab fa-google-plus-g"></i> Google</a>
              </div>
            </div>
          </div>
           Sign up form 
           Sign in form 
          <div class="modal-body none" id="signin-form">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" name="#" placeholder="Username or Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="#" placeholder="Password">
              </div>
              <div class="form-group">
                <label class="custom-checkbox">
                <input type="checkbox" name="#">Keep me signed in	<span class="checkmark"></span>
                </label>
              </div>
              <div class="form-group">
                <button type="submit" class="btn-second orange-btn full-width">Sign In</button>
              </div>
            </form>
            <div class="form-excerpts">
              <ul>
                <li>Not a member? <a href="javascript:void(0)" id="signup-btn">Sign Up</a>
                </li>
                <li><a routerLink="/homepage2">Recover Password</a>
                </li>
              </ul>
            </div>
            <div class="social-login">
              <span>Or connect with</span>
              <div class="social-btn">	<a routerLink="/homepage2" class="facebook"><i class="fab fa-facebook-f"></i> Facebook</a>
                <a routerLink="/homepage2" class="google"><i class="fab fa-google-plus-g"></i> Google</a>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div> -->
    <!-- <div class="menu-style-3">
      <div class="search-box search-elem">
        <button class="close">x</button>
        <div class="inner row">
          <div class="col-12">
            <label class="text-custom-white">Search Your Category</label>
            <div class="input-group">
              <input type="text" class="form-control form-control-custom" placeholder="Search keywords, category, brand of part">
              <div class="input-group-prepend">
                <select class="menu-style-3-search">
                  <option>All Category</option>
                  <option>Luxury Car</option>
                  <option>Sports Car</option>
                  <option>Vintage Car</option>
                  <option>Excutive Car</option>
                  <option>Economy Car</option>
                </select>
              </div>
              <div class="input-group-append">
                <button class="btn-second orange-btn full-width" type="submit">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->