<div class="mobile-menu-second">
	<app-header2></app-header2>
<!-- Sub header -->
  <div class="sub-header-sec p-relative">
    <app-banner-header></app-banner-header>
    <!-- <img src="assets/images/blog/banner/banner-1.jpg" class="img-fluid" alt="Sub header"> -->
    <div class="sub-header-overlay"></div>
    <div class="sub-header-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="sub-header-text-wrapper text-center">
              <h1 class="text-custom-white">Gérer les annonces</h1>
              <ul class="breadcrumbs">
                <li><a routerLink="/" class="text-custom-white">Accueil</a>
                </li>
                <li><a routerLink="/mon-espace" class="text-custom-white">MON ESPACE</a>
                </li>
                <li><span class="text-custom-white">Gérer les annonces</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sub header -->
  
  <section class="section-padding our_articles">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mt-2">
            <div class="car-grid-layout-box">
              <div class="car-grid-layout-inner text-center">
                <h5 class="car-name"><a  [routerLink]="['car-detail','123']"  class="text-light-black">ttt</a>
             
                  <span  class=" float-right custom-tooltip span-fas" data-tip="Sauvgarder"><i class="fas fa-trash"></i> <i class="fas fa-check-circle"></i></span>
                </h5>
                <h6 class="text-light-black text-uppercase mb-2">tttt</h6>
                <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort.</p>
                <span class="text-orange price-text">50000 DT</span>
                <div class="car-grid-layout-img">
                    <img src="assets/images/trendingmodels/trending6.jpg" class="img-fluid full-width" alt="Image">

                  <!-- <img [src]="car.pictureVoitures[0]?.picture" (error)="onImgError($event)" class="img-fluid full-width max-height-img" alt="Car img"> -->
                </div>
                <div class="car-grid-layout-details">	<span class="text-dark-white"><i class="flaticon-dashboard text-orange mr-2"></i>150000 Km</span>
                  <span class="text-dark-white p-relative"><i class="icon-car"></i> ttt Model</span>
                </div>
                <div class="car-grid-layout-location">	<span class="text-dark-white"><i class="fas fa-map-marker-alt mr-2"></i>yyy</span>
                  <span class="text-dark-white"><i class="fas fa-cog mr-2"></i>vvv</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mt-2">
            <div class="car-grid-layout-box">
              <div class="car-grid-layout-inner text-center">
                <h5 class="car-name"><a  [routerLink]="['car-detail','123']"  class="text-light-black">ttt</a>
             
                  <span  class=" float-right custom-tooltip span-fas" data-tip="Sauvgarder"><i class="fas fa-trash"></i> <i class="fas fa-check-circle"></i></span>
                </h5>
                <h6 class="text-light-black text-uppercase mb-2">tttt</h6>
                <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort.</p>
                <span class="text-orange price-text">50000 DT</span>
                <div class="car-grid-layout-img">
                    <img src="assets/images/trendingmodels/trending6.jpg" class="img-fluid full-width" alt="Image">

                  <!-- <img [src]="car.pictureVoitures[0]?.picture" (error)="onImgError($event)" class="img-fluid full-width max-height-img" alt="Car img"> -->
                </div>
                <div class="car-grid-layout-details">	<span class="text-dark-white"><i class="flaticon-dashboard text-orange mr-2"></i>150000 Km</span>
                  <span class="text-dark-white p-relative"><i class="icon-car"></i> ttt Model</span>
                </div>
                <div class="car-grid-layout-location">	<span class="text-dark-white"><i class="fas fa-map-marker-alt mr-2"></i>yyy</span>
                  <span class="text-dark-white"><i class="fas fa-cog mr-2"></i>vvv</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mt-2">
            <div class="car-grid-layout-box">
              <div class="car-grid-layout-inner text-center">
                <h5 class="car-name"><a  [routerLink]="['car-detail','123']"  class="text-light-black">ttt</a>
             
                  <span  class=" float-right custom-tooltip span-fas" data-tip="Sauvgarder"><i class="fas fa-trash"></i> <i class="fas fa-check-circle"></i></span>
                </h5>
                <h6 class="text-light-black text-uppercase mb-2">tttt</h6>
                <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort.</p>
                <span class="text-orange price-text">50000 DT</span>
                <div class="car-grid-layout-img">
                    <img src="assets/images/trendingmodels/trending6.jpg" class="img-fluid full-width" alt="Image">

                  <!-- <img [src]="car.pictureVoitures[0]?.picture" (error)="onImgError($event)" class="img-fluid full-width max-height-img" alt="Car img"> -->
                </div>
                <div class="car-grid-layout-details">	<span class="text-dark-white"><i class="flaticon-dashboard text-orange mr-2"></i>150000 Km</span>
                  <span class="text-dark-white p-relative"><i class="icon-car"></i> ttt Model</span>
                </div>
                <div class="car-grid-layout-location">	<span class="text-dark-white"><i class="fas fa-map-marker-alt mr-2"></i>yyy</span>
                  <span class="text-dark-white"><i class="fas fa-cog mr-2"></i>vvv</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mt-2">
            <div class="car-grid-layout-box">
              <div class="car-grid-layout-inner text-center">
                <h5 class="car-name"><a  [routerLink]="['car-detail','123']"  class="text-light-black">ttt</a>
             
                  <span  class=" float-right custom-tooltip span-fas" data-tip="Sauvgarder"><i class="fas fa-trash"></i> <i class="fas fa-check-circle"></i></span>
                </h5>
                <h6 class="text-light-black text-uppercase mb-2">tttt</h6>
                <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort.</p>
                <span class="text-orange price-text">50000 DT</span>
                <div class="car-grid-layout-img">
                    <img src="assets/images/trendingmodels/trending6.jpg" class="img-fluid full-width" alt="Image">

                  <!-- <img [src]="car.pictureVoitures[0]?.picture" (error)="onImgError($event)" class="img-fluid full-width max-height-img" alt="Car img"> -->
                </div>
                <div class="car-grid-layout-details">	<span class="text-dark-white"><i class="flaticon-dashboard text-orange mr-2"></i>150000 Km</span>
                  <span class="text-dark-white p-relative"><i class="icon-car"></i> ttt Model</span>
                </div>
                <div class="car-grid-layout-location">	<span class="text-dark-white"><i class="fas fa-map-marker-alt mr-2"></i>yyy</span>
                  <span class="text-dark-white"><i class="fas fa-cog mr-2"></i>vvv</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mt-2">
            <div class="car-grid-layout-box">
              <div class="car-grid-layout-inner text-center">
                <h5 class="car-name"><a  [routerLink]="['car-detail','123']"  class="text-light-black">ttt</a>
             
                  <span  class=" float-right custom-tooltip span-fas" data-tip="Sauvgarder"><i class="fas fa-trash"></i> <i class="fas fa-check-circle"></i></span>
                </h5>
                <h6 class="text-light-black text-uppercase mb-2">tttt</h6>
                <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort.</p>
                <span class="text-orange price-text">50000 DT</span>
                <div class="car-grid-layout-img">
                    <img src="assets/images/trendingmodels/trending6.jpg" class="img-fluid full-width" alt="Image">

                  <!-- <img [src]="car.pictureVoitures[0]?.picture" (error)="onImgError($event)" class="img-fluid full-width max-height-img" alt="Car img"> -->
                </div>
                <div class="car-grid-layout-details">	<span class="text-dark-white"><i class="flaticon-dashboard text-orange mr-2"></i>150000 Km</span>
                  <span class="text-dark-white p-relative"><i class="icon-car"></i> ttt Model</span>
                </div>
                <div class="car-grid-layout-location">	<span class="text-dark-white"><i class="fas fa-map-marker-alt mr-2"></i>yyy</span>
                  <span class="text-dark-white"><i class="fas fa-cog mr-2"></i>vvv</span>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  
	<app-footer2></app-footer2>
</div>