<div class="mobile-menu-second">

  <app-header2></app-header2>
  <!-- Sub header -->
  <div class="sub-header-sec p-relative">
    <img src="assets/images/blog/banner/banner-4.jpg" class="img-fluid" alt="Sub header">
    <div class="sub-header-overlay"></div>
    <div class="sub-header-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="sub-header-text-wrapper text-center">
              <h1 class="text-custom-white">List Your Vehicle</h1>
              <ul class="breadcrumbs">
                <li><a routerLink="/" class="text-custom-white">Home</a>
                </li>
                <li><a routerLink="/add-listing" class="text-custom-white">Pages</a>
                </li>
                <li><span class="text-custom-white">Adding Listing</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sub header -->
  <!-- Adding Listing -->
  <section class="section-padding add-listing-sec">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="add-listing-tab" class="step-app">
            <ul class="step-steps">
              <li class="active">
                <a href="#step1"> <span class="number"></span>
                  <span class="step-name">OVERALL INFORMATION</span>
                </a>
              </li>
              <li>
                <a href="#step2"> <span class="number"></span>
                  <span class="step-name">GALLERY &amp; VIDEO</span>
                </a>
              </li>
              <li>
                <a href="#step3"> <span class="number"></span>
                  <span class="step-name">Location</span>
                </a>
              </li>
              <li>
                <a href="#step4"> <span class="number"></span>
                  <span class="step-name">Amenities</span>
                </a>
              </li>
              <li>
                <a href="#step5"> <span class="number"></span>
                  <span class="step-name">confirmation</span>
                </a>
              </li>
            </ul>
            <div class="step-content">
              <div class="step-tab-panel" id="step1">
                <div class="tab-from-content">
                  <div class="title-icon">
                    <h5 class="title rubik fw-600"><i class="flaticon-comment"></i> Overall Information</h5>
                  </div>
                  <form>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Titre</label>
                        <div class="form-group">
                          <input type="text" name="title" class="form-control form-control-custom">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Téléphone</label>
                        <div class="form-group">
                          <input type="text" name="phone" class="form-control form-control-custom">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Gouvernorat</label>
                        <div class="form-group p-relativ">
                          <select class="form-control form-control-custom">
                            <option value=""></option>
                            <option value="Ariana">Ariana</option>
                            <option value="Béja">Béja</option>
                            <option value="Ben Arous">Ben Arous</option>
                            <option value="Bizerte">Bizerte</option>
                            <option value="Gabès">Gabès</option>
                            <option value="Gafsa">Gafsa</option>
                            <option value="Jendouba">Jendouba</option>
                            <option value="Kairouan">Kairouan</option>
                            <option value="Kasserine">Kasserine</option>
                            <option value="Kébili">Kébili</option>
                            <option value="La Manouba">La Manouba</option>
                            <option value="Le Kef">Le Kef</option>
                            <option value="Mahdia">Mahdia</option>
                            <option value="Médenine">Médenine</option>
                            <option value="Monastir">Monastir</option>
                            <option value="Nabeul">Nabeul</option>
                            <option value="Sfax">Sfax</option>
                            <option value="Sidi Bouzid">Sidi Bouzid</option>
                            <option value="Siliana">Siliana</option>
                            <option value="Sousse">Sousse</option>
                            <option value="Tataouine">Tataouine</option>
                            <option value="Tozeur">Tozeur</option>
                            <option value="Tunis">Tunis</option>
                            <option value="Zaghouan">Zaghouan</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Adresse</label>
                        <div class="form-group">
                          <input type="text" name="address" class="form-control form-control-custom">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Mois</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option value="12">12</option>
                            <option value="11">11</option>
                            <option value="10">10</option>
                            <option value="09">09</option>
                            <option value="08">08</option>
                            <option value="07">07</option>
                            <option value="06">06</option>
                            <option value="05">05</option>
                            <option value="04">04</option>
                            <option value="03">03</option>
                            <option value="02">02</option>
                            <option value="01">01</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Année</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Garantie</label>
                        <div class="form-group">
                          <input type="text" name="Garantie" class="form-control form-control-custom">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Prix</label>
                        <div class="form-group">
                          <input type="text" name="price" class="form-control form-control-custom">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Disponibilité</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option value="Immediatement">Immediatement</option>
                            <option value="Sur-commande">Sur commande</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Catégorie</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option value="Luxury">Luxury Car</option>
                            <option value="Sports">Sports Car</option>
                            <option value="Vintage">Vintage Car</option>
                            <option value="Excutive">Excutive Car</option>
                            <option value="Economy">Economy Car</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Brand</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option value="acura">Acura</option>
                            <option value="aixam">Aixam</option>
                            <option value="alfa-romeo">Alfa Romeo</option>
                            <option value="alpina">Alpina</option>
                            <option value="aston-martin">Aston Martin</option>
                            <option value="audi">Audi</option>
                            <option value="baic-yx">BAIC YX</option>
                            <option value="bentley">Bentley</option>
                            <option value="bmw">BMW</option>
                            <option value="bugatti">Bugatti</option>
                            <option value="buick">Buick</option>
                            <option value="byd">BYD</option>
                            <option value="cadillac">Cadillac</option>
                            <option value="changan">Changan</option>
                            <option value="chery">Chery</option>
                            <option value="chevrolet">Chevrolet</option>
                            <option value="chrysler">Chrysler</option>
                            <option value="citroen">Citroën</option>
                            <option value="dacia">Dacia</option>
                            <option value="daewoo">Daewoo</option>
                            <option value="daihatsu">Daihatsu</option>
                            <option value="dfsk">DFSK</option>
                            <option value="dodge">Dodge</option>
                            <option value="dongfeng">Dongfeng</option>
                            <option value="ds">DS</option>
                            <option value="faw">Faw</option>
                            <option value="ferrari">Ferrari</option>
                            <option value="fiat">Fiat</option>
                            <option value="foday">Foday</option>
                            <option value="ford">Ford</option>
                            <option value="foton">Foton</option>
                            <option value="geely">Geely</option>
                            <option value="genesis">Genesis</option>
                            <option value="gmc">GMC</option>
                            <option value="great-wall">Great Wall</option>
                            <option value="haval">Haval</option>
                            <option value="honda">Honda</option>
                            <option value="huanghai">Huanghai</option>
                            <option value="hummer">Hummer</option>
                            <option value="hyundai">Hyundai</option>
                            <option value="infiniti">Infiniti</option>
                            <option value="isuzu">Isuzu</option>
                            <option value="iveco">Iveco</option>
                            <option value="jaguar">Jaguar</option>
                            <option value="jeep">Jeep</option>
                            <option value="kawazaki">Kawazaki</option>
                            <option value="kia">KIA</option>
                            <option value="lada">Lada</option>
                            <option value="lamborghini">Lamborghini</option>
                            <option value="lancia">Lancia</option>
                            <option value="land-rover">Land Rover</option>
                            <option value="lexus">Lexus</option>
                            <option value="lincoln">Lincoln</option>
                            <option value="lotus">Lotus</option>
                            <option value="mahindra">Mahindra</option>
                            <option value="maserati">Maserati</option>
                            <option value="maybach">Maybach</option>
                            <option value="mazda">Mazda</option>
                            <option value="mercedes-benz">Mercedes-Benz</option>
                            <option value="mg">MG</option>
                            <option value="mini">Mini</option>
                            <option value="mitsubishi">Mitsubishi</option>
                            <option value="morgan">Morgan</option>
                            <option value="nissan">Nissan</option>
                            <option value="oldsmobile">Oldsmobile</option>
                            <option value="opel">Opel</option>
                            <option value="peugeot">Peugeot</option>
                            <option value="piaggio">Piaggio</option>
                            <option value="pontiac">Pontiac</option>
                            <option value="porsche">Porsche</option>
                            <option value="renault">Renault</option>
                            <option value="rolls-royce">Rolls Royce</option>
                            <option value="rover">Rover</option>
                            <option value="saab">Saab</option>
                            <option value="seat">Seat</option>
                            <option value="simca">Simca</option>
                            <option value="skoda">Skoda</option>
                            <option value="smart">Smart</option>
                            <option value="soueast">Soueast</option>
                            <option value="ssangyong">Ssangyong</option>
                            <option value="subaru">Subaru</option>
                            <option value="suzuki">Suzuki</option>
                            <option value="talbot">Talbot</option>
                            <option value="tata">Tata</option>
                            <option value="toyota">Toyota</option>
                            <option value="trabant">Trabant</option>
                            <option value="triumph">Triumph</option>
                            <option value="tvr">TVR</option>
                            <option value="volkswagen">Volkswagen</option>
                            <option value="volvo">Volvo</option>
                            <option value="wallyscar">Wallyscar</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Modèle</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option value=""></option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>nombre de places</label>
                        <div class="form-group">
                          <input type="text" name="seatingCapacity" class="form-control form-control-custom">
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>nombre de portes</label>
                        <div class="form-group">
                          <input type="text" name="numberDoors" class="form-control form-control-custom">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Kilométrage</label>
                        <div class="form-group">
                          <input type="text" name="mileage" class="form-control form-control-custom">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Motorization</label>
                        <div class="form-group">
                          <input type="text" name="motorization" class="form-control form-control-custom">
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Puissance fiscale</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option *ngFor="let power of powerFiscalArray" [value]="power">{{ power }}</option>
                            <option value="more-48">Plus de 48</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Energie</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option value="essence">Essence</option>
                            <option value="diesel">Diesel</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>transmission</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option value="traction">Traction</option>
                            <option value="propulsion">Propulsion</option>
                            <option value="intégrale">Intégrale</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Boîte</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option value="manuelle">Manuelle</option>
                            <option value="automatique">Automatique</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Carrosserie</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option value="Citadine">Citadine</option>
                            <option value="Compacte">Compacte</option>
                            <option value="Berline">Berline</option>
                            <option value="Coupé">Coupé</option>
                            <option value="Cabriolet">Cabriolet</option>
                            <option value="4 x 4">4 x 4</option>
                            <option value="Monospace">Monospace</option>
                            <option value="Utilitaire">Utilitaire</option>
                            <option value="Pick up">Pick up</option>
                            <option value="Autres">Autres</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Couleur</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option value="Noir">Noir</option>
                            <option value="Gris argent">Gris argent</option>
                            <option value="Gris anthracite">Gris anthracite</option>
                            <option value="Gris Shark">Gris Shark</option>
                            <option value="Blanc">Blanc</option>
                            <option value="Rouge">Rouge</option>
                            <option value="Bleu">Bleu</option>
                            <option value="Beige">Beige</option>
                            <option value="Jaune">Jaune</option>
                            <option value="Orange">Orange</option>
                            <option value="Vert">Vert</option>
                            <option value="Aubergine">Aubergine</option>
                            <option value="Marron">Marron</option>
                            <option value="Autre">Autre</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <label>Description</label>
                        <div class="form-group">
                          <textarea class="form-control form-control-custom" rows="5"></textarea>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <label>Equipements extérieurs</label>
                        <div class="form-group  p-relative">
                          <ul class="boxes" id="boxes-7">
                            <li>
                              <label class="custom-checkbox" for="input-107-257">
                                <input type="checkbox" id="input-107-257" name="attributes[107][]" value="257">
                                <span class="checkmark"></span>Antibrouillards</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-107-277">
                                <input type="checkbox" id="input-107-277" name="attributes[107][]" value="277">
                                <span class="checkmark"></span>Détecteur de luminosité</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-107-276">
                                <input type="checkbox" id="input-107-276" name="attributes[107][]" value="276">
                                <span class="checkmark"></span>Détecteur de pluie</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-107-278">
                                <input type="checkbox" id="input-107-278" name="attributes[107][]" value="278">
                                <span class="checkmark"></span>Fermeture centralisée</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-107-387">
                                <input type="checkbox" id="input-107-387" name="attributes[107][]" value="387">
                                <span class="checkmark"></span>Feux à LED</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-107-252">
                                <input type="checkbox" id="input-107-252" name="attributes[107][]" value="252">
                                <span class="checkmark"></span>Jantes en alliage</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-107-279">
                                <input type="checkbox" id="input-107-279" name="attributes[107][]" value="279">
                                <span class="checkmark"></span>Lave Phares</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-107-249">
                                <input type="checkbox" id="input-107-249" name="attributes[107][]" value="249">
                                <span class="checkmark"></span>Peinture métallisée</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-107-254">
                                <input type="checkbox" id="input-107-254" name="attributes[107][]" value="254">
                                <span class="checkmark"></span>Phares au xénon</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-107-255">
                                <input type="checkbox" id="input-107-255" name="attributes[107][]" value="255">
                                <span class="checkmark"></span>Radar de recul</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-107-284">
                                <input type="checkbox" id="input-107-284" name="attributes[107][]" value="284">
                                <span class="checkmark"></span>Rétroviseurs électriques</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-107-285">
                                <input type="checkbox" id="input-107-285" name="attributes[107][]" value="285">
                                <span class="checkmark"></span>Rétroviseurs rabattables</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-107-253">
                                <input type="checkbox" id="input-107-253" name="attributes[107][]" value="253">
                                <span class="checkmark"></span>Toit ouvrant</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-107-438">
                                <input type="checkbox" id="input-107-438" name="attributes[107][]" value="438">
                                <span class="checkmark"></span>Toit panoramique</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-107-256">
                                <input type="checkbox" id="input-107-256" name="attributes[107][]" value="256">
                                <span class="checkmark"></span>Vitres teintées</label>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-lg-12">
                        <label>Equipements intérieurs</label>
                        <div class="form-group">
                          <ul class="boxes" id="boxes-8">
                            <li>
                              <label class="custom-checkbox" for="input-109-265">
                                <input type="checkbox" id="input-109-265" name="attributes[109][]" value="265">
                                <span class="checkmark"></span>Accoudoir avant</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-271">
                                <input type="checkbox" id="input-109-271" name="attributes[109][]" value="271">
                                <span class="checkmark"></span>Accoudoir arrière</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-386">
                                <input type="checkbox" id="input-109-386" name="attributes[109][]" value="386">
                                <span class="checkmark"></span> Autoradio</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-385">
                                <input type="checkbox" id="input-109-385" name="attributes[109][]" value="385">
                                <span class="checkmark"></span>Autoradio CD</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-259">
                                <input type="checkbox" id="input-109-259" name="attributes[109][]" value="259">
                                <span class="checkmark"></span> Autoradio CD/Mp3</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-272">
                                <input type="checkbox" id="input-109-272" name="attributes[109][]" value="272">
                                <span class="checkmark"></span>Bluetooth</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-273">
                                <input type="checkbox" id="input-109-273" name="attributes[109][]" value="273">
                                <span class="checkmark"></span> Boîte à gants réfrigérée</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-274">
                                <input type="checkbox" id="input-109-274" name="attributes[109][]" value="274">
                                <span class="checkmark"></span> Bouton Start &amp; Stop</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-275">
                                <input type="checkbox" id="input-109-275" name="attributes[109][]" value="275">
                                <span class="checkmark"></span> Caméra de recul</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-439">
                                <input type="checkbox" id="input-109-439" name="attributes[109][]" value="439">
                                <span class="checkmark"></span>Chargeur CD</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-258">
                                <input type="checkbox" id="input-109-258" name="attributes[109][]" value="258">
                                <span class="checkmark"></span>Climatisation</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-437">
                                <input type="checkbox" id="input-109-437" name="attributes[109][]" value="437">
                                <span class="checkmark"></span>Climatronic</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-264">
                                <input type="checkbox" id="input-109-264" name="attributes[109][]" value="264">
                                <span class="checkmark"></span>Connectivité Aux, usb, iPod</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-263">
                                <input type="checkbox" id="input-109-263" name="attributes[109][]" value="263">
                                <span class="checkmark"></span>Direction assistée</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-261">
                                <input type="checkbox" id="input-109-261" name="attributes[109][]" value="261">
                                <span class="checkmark"></span>GPS</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-266">
                                <input type="checkbox" id="input-109-266" name="attributes[109][]" value="266">
                                <span class="checkmark"></span>Ordinateur de bord</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-280">
                                <input type="checkbox" id="input-109-280" name="attributes[109][]" value="280">
                                <span class="checkmark"></span> Palettes au volant</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-282">
                                <input type="checkbox" id="input-109-282" name="attributes[109][]" value="282">
                                <span class="checkmark"></span> Régulateur de vitesse</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-286">
                                <input type="checkbox" id="input-109-286" name="attributes[109][]" value="286">
                                <span class="checkmark"></span>Sellerie en cuir</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-287">
                                <input type="checkbox" id="input-109-287" name="attributes[109][]" value="287">
                                <span class="checkmark"></span>Sièges réglables en hauteur</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-288">
                                <input type="checkbox" id="input-109-288" name="attributes[109][]" value="288">
                                <span class="checkmark"></span> Sièges électriques</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-440">
                                <input type="checkbox" id="input-109-440" name="attributes[109][]" value="440">
                                <span class="checkmark"></span>Sièges chauffants</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-289">
                                <input type="checkbox" id="input-109-289" name="attributes[109][]" value="289">
                                <span class="checkmark"></span>Vitres électriques</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-290">
                                <input type="checkbox" id="input-109-290" name="attributes[109][]" value="290">
                                <span class="checkmark"></span> Vitres teintées</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-262">
                                <input type="checkbox" id="input-109-262" name="attributes[109][]" value="262">
                                <span class="checkmark"></span>Volant/levier de vitesse en cuir</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-291">
                                <input type="checkbox" id="input-109-291" name="attributes[109][]" value="291">
                                <span class="checkmark"></span>Volant multi-fonctions</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-293">
                                <input type="checkbox" id="input-109-293" name="attributes[109][]" value="293">
                                <span class="checkmark"></span>3 appuis têtes arrières</label>
                            </li>
                            <li>
                              <label class="custom-checkbox" for="input-109-292">
                                <input type="checkbox" id="input-109-292" name="attributes[109][]" value="292">
                                <span class="checkmark"></span>Volant réglable hauteur/profondeur</label>
                            </li>
                          </ul>
                        </div>
                      </div>


                      <div class="col-lg-12">
                        <label class="custom-checkbox">Equipements de sécurité</label>
                        <div class="form-group">
                          <ul class="boxes" id="boxes-9">
                            <li>
                              <input type="checkbox" id="input-106-245" name="attributes[106][]" value="245">
                              <label for="input-106-245">ABS</label>
                            </li>
                            <li>
                              <input type="checkbox" id="input-106-246" name="attributes[106][]" value="246">
                              <label for="input-106-246">Airbags frontaux</label>
                            </li>
                            <li>
                              <input type="checkbox" id="input-106-248" name="attributes[106][]" value="248">
                              <label for="input-106-248">Airbags latéraux </label>
                            </li>
                            <li>
                              <input type="checkbox" id="input-106-247" name="attributes[106][]" value="247">
                              <label for="input-106-247">Airbags rideaux</label>
                            </li>
                            <li>
                              <input type="checkbox" id="input-106-250" name="attributes[106][]" value="250">
                              <label for="input-106-250">Alarme anti-intrusion</label>
                            </li>
                            <li>
                              <input type="checkbox" id="input-106-251" name="attributes[106][]" value="251">
                              <label for="input-106-251">Anti-démarrage électronique</label>
                            </li>
                            <li>
                              <input type="checkbox" id="input-106-267" name="attributes[106][]" value="267">
                              <label for="input-106-267">Anti-patinage</label>
                            </li>
                            <li>
                              <input type="checkbox" id="input-106-268" name="attributes[106][]" value="268">
                              <label for="input-106-268">Contrôle de pression des pneus</label>
                            </li>
                            <li>
                              <input type="checkbox" id="input-106-269" name="attributes[106][]" value="269">
                              <label for="input-106-269">Fixations ISOFIX</label>
                            </li>
                            <li>
                              <input type="checkbox" id="input-106-270" name="attributes[106][]" value="270">
                              <label for="input-106-270">Pneumatiques runflat</label>
                            </li>
                            <li>
                              <input type="checkbox" id="input-106-281" name="attributes[106][]" value="281">
                              <label for="input-106-281">Radiateur tropicalisé</label>
                            </li>
                          </ul>

                        </div>
                      </div>

                    </div>
                  </form>
                </div>
              </div>
              <div class="step-tab-panel" id="step2">
                <div class="tab-from-content">
                  <div class="title-icon">
                    <h5 class="title rubik fw-600"><i class="flaticon-frame"></i> Gallery & Video</h5>
                  </div>
                  <div class="p-relative drag-drop-sec">
                    <form class="drag-drop">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <input type="file" multiple>
                            <div class="add-gallery-text text-center"> <i class="far fa-image"></i>
                              <span class="drag-label"> Click here or drop files to upload</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="step-tab-panel" id="step3">
                <div class="tab-from-content">
                  <div class="title-icon">
                    <h5 class="title rubik fw-600"><i class="flaticon-location-pin"></i> Location</h5>
                  </div>
                  <form>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-custom" name="#" placeholder="Address">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-custom" name="#"
                            placeholder="Temporary Address">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option>State</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option>City</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option>Country</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="form-group">
                          <input type="number" class="form-control form-control-custom" name="#" placeholder="Zip Code">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="step-tab-panel" id="step4">
                <div class="tab-from-content">
                  <div class="title-icon">
                    <h5 class="title rubik fw-600"><i class="flaticon-price-tag"></i> Amenities</h5>
                  </div>
                  <form>
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>Coupons</label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>Smoking Allowed</label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>Accessories</label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>Camping</label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>Field Trips</label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>Getway</label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>Hot Spots</label>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="step-tab-panel" id="step5">
                <div class="tab-from-content">
                  <div class="title-icon">
                    <h5 class="title rubik fw-600"><i class="flaticon-check-square"></i> Confirmation</h5>
                  </div>
                  <form>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>I Agree To Qamous's <a
                              routerLink="/add-listing" class="text-light-black">Privacy Policy</a>
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>I Agree To Qamous's <a
                              routerLink="/add-listing" class="text-light-black">Terms Of Services</a>
                          </label>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="step-footer step-tab-pager">
              <button data-direction="prev" class="btn-second orange-btn">Previous</button>
              <button data-direction="next" class="btn-second orange-btn">Next</button>
              <button data-direction="finish" class="btn-second orange-btn">Preview & Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Adding Listing -->

  <app-footer2></app-footer2>

</div>
