<div class="mobile-menu-second">

  <app-header2></app-header2>
  <!-- Sub header -->
  <div class="sub-header-sec p-relative">
    <img src="assets/images/blog/banner/banner-4.jpg" class="img-fluid" alt="Sub header">
    <div class="sub-header-overlay"></div>
    <div class="sub-header-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="sub-header-text-wrapper text-center">
              <h1 class="text-custom-white">List Your Vehicle</h1>
              <ul class="breadcrumbs">
                <li><a routerLink="/" class="text-custom-white">Home</a>
                </li>
                <li><a routerLink="/add-listing" class="text-custom-white">Pages</a>
                </li>
                <li><span class="text-custom-white">Adding Listing</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sub header -->
  <!-- Adding Listing -->
  <section class="section-padding add-listing-sec">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="add-listing-tab" class="step-app">
            <ul class="step-steps">
              <li class="active">
                <a href="#step1"> <span class="number"></span>
                  <span class="step-name">OVERALL INFORMATION</span>
                </a>
              </li>
              <li>
                <a href="#step2"> <span class="number"></span>
                  <span class="step-name">GALLERY &amp; VIDEO</span>
                </a>
              </li>
              <li>
                <a href="#step3"> <span class="number"></span>
                  <span class="step-name">Location</span>
                </a>
              </li>
              <li>
                <a href="#step4"> <span class="number"></span>
                  <span class="step-name">Amenities</span>
                </a>
              </li>
              <li>
                <a href="#step5"> <span class="number"></span>
                  <span class="step-name">confirmation</span>
                </a>
              </li>
            </ul>
            <div class="step-content">
              <div class="step-tab-panel" id="step1">
                <div class="tab-from-content">
                  <div class="title-icon">
                    <h5 class="title rubik fw-600"><i class="flaticon-comment"></i> Overall Information</h5>
                  </div>
                  <form>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Titre</label>
                        <div class="form-group">
                          <input type="text" name="title" class="form-control form-control-custom">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Téléphone</label>
                        <div class="form-group">
                          <input type="text" name="phone" class="form-control form-control-custom">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Pays</label>
                        <div class="form-group p-relativ">
                          <select class="form-control form-control-custom">
                            <option value="Afganistan"> Afghanistan </option>
                            <option value="Albanie"> Albanie </option>
                            <option value="Algérie"> Algérie </option>
                            <option value="Samoa américaines"> Samoa américaines </option>
                            <option value="Andorre"> Andorre </option>
                            <option value="Angola"> Angola </option>
                            <option value="Anguilla"> Anguilla </option>
                            <option value="Antigua-et-Barbuda"> Antigua-et-Barbuda </option>
                            <option value="Argentine"> Argentine </option>
                            <option value="Arménie"> Arménie </option>
                            <option value="Aruba"> Aruba </option>
                            <option value="Australie"> Australie </option>
                            <option value="Autriche"> Autriche </option>
                            <option value="Azerbaïdjan"> Azerbaïdjan </option>
                            <option value="Bahamas"> Bahamas </option>
                            <option value="Bahreïn"> Bahreïn </option>
                            <option value="Bangladesh"> Bangladesh </option>
                            <option value="Barbade"> Barbade </option>
                            <option value="Biélorussie"> Biélorussie </option>
                            <option value="Belgique"> Belgique </option>
                            <option value="Belize"> Belize </option>
                            <option value="Bénin"> Bénin </option>
                            <option value="Bermudes"> Bermudes </option>
                            <option value="Bhoutan"> Bhoutan </option>
                            <option value="Bolivie"> Bolivie </option>
                            <option value="Bonaire"> Bonaire </option>
                            <option value="Bosnie-Herzégovine"> Bosnie-Herzégovine </option>
                            <option value="Botswana"> Botswana </option>
                            <option value="Brésil"> Brésil </option>
                            <option value="British Indian Ocean Ter"> British Indian Ocean Ter </option>
                            <option value="Brunei"> Brunei </option>
                            <option value="Bulgarie"> Bulgarie </option>
                            <option value="Burkina Faso"> Burkina Faso </option>
                            <option value="Burundi"> Burundi </option>
                            <option value="Cambodge"> Cambodge </option>
                            <option value="Cameroun"> Cameroun </option>
                            <option value="Canada"> Canada </option>
                            <option value="Îles Canaries"> Îles Canaries </option>
                            <option value="Cap-Vert"> Cap-Vert </option>
                            <option value="Îles Caïmans"> Îles Caïmans </option>
                            <option value="République centrafricaine"> République centrafricaine </option>
                            <option value="Tchad"> Tchad </option>
                            <option value="Channel Islands"> Channel Islands </option>
                            <option value="Chili"> Chili </option>
                            <option value="Chine"> Chine </option>
                            <option value="Île de Noël"> Île de Noël </option>
                            <option value="Île Cocos"> Île Cocos </option>
                            <option value="Colombie"> Colombie </option>
                            <option value="Comores"> Comores </option>
                            <option value="Congo"> Congo </option>
                            <option value="Iles Cook"> Iles Cook </option>
                            <option value="Costa Rica"> Costa Rica </option>
                            <option value="Côte d'Ivoire"> Côte d'Ivoire </option>
                            <option value="Croatie"> Croatie </option>
                            <option value="Cuba"> Cuba </option>
                            <option value="Curaco"> Curaçao </option>
                            <option value="Chypre"> Chypre </option>
                            <option value="République tchèque"> République tchèque </option>
                            <option value="Danemark"> Danemark </option>
                            <option value="Djibouti"> Djibouti </option>
                            <option value="Dominique"> Dominique </option>
                            <option value="République dominicaine"> République dominicaine </option>
                            <option value="Timor oriental"> Timor oriental </option>
                            <option value="Equateur"> Equateur </option>
                            <option value="Egypte"> Egypte </option>
                            <option value="Salvador"> Salvador </option>
                            <option value="Guinée équatoriale"> Guinée équatoriale </option>
                            <option value="Erythrée"> Erythrée </option>
                            <option value="Estonie"> Estonie </option>
                            <option value="Éthiopie"> Éthiopie </option>
                            <option value="Îles Malouines"> Îles Malouines </option>
                            <option value="Îles Féroé"> Îles Féroé </option>
                            <option value="Fidji"> Fidji </option>
                            <option value="Finlande"> Finlande </option>
                            <option value="France"> France </option>
                            <option value="Guyane française"> Guyane française </option>
                            <option value="Polynésie française"> Polynésie française </option>
                            <option value="Terr sud français"> Ter sud français </option>
                            <option value="Gabon"> Gabon </option>
                            <option value="Gambie"> Gambie </option>
                            <option value="Géorgie"> Géorgie </option>
                            <option value="Allemagne"> Allemagne </option>
                            <option value="Ghana"> Ghana </option>
                            <option value="Gibraltar"> Gibraltar </option>
                            <option value="Grande-Bretagne"> Grande-Bretagne </option>
                            <option value="Grèce"> Grèce </option>
                            <option value="Groenland"> Groenland </option>
                            <option value="Grenade"> Grenade </option>
                            <option value="Guadeloupe"> Guadeloupe </option>
                            <option value="Guam"> Guam </option>
                            <option value="Guatemala"> Guatemala </option>
                            <option value="Guinée"> Guinée </option>
                            <option value="Guyane"> Guyane </option>
                            <option value="Haïti"> Haïti </option>
                            <option value="Hawaï"> Hawaï </option>
                            <option value="Honduras"> Honduras </option>
                            <option value="Hong Kong"> Hong Kong </option>
                            <option value="Hongrie"> Hongrie </option>
                            <option value="Islande"> Islande </option>
                            <option value="Indonésie"> Indonésie </option>
                            <option value="Inde"> Inde </option>
                            <option value="Iran"> Iran </option>
                            <option value="Irak"> Irak </option>
                            <option value="Irlande"> Irlande </option>
                            <option value="Île de Man"> Île de Man </option>
                            <option value="Israël"> Israël </option>
                            <option value="Italie"> Italie </option>
                            <option value="Jamaïque"> Jamaïque </option>
                            <option value="Japon"> Japon </option>
                            <option value="Jordanie"> Jordanie </option>
                            <option value="Kazakhstan"> Kazakhstan </option>
                            <option value="Kenya"> Kenya </option>
                            <option value="Kiribati"> Kiribati </option>
                            <option value="Corée du Nord"> Corée du Nord </option>
                            <option value="Korea Sout"> Corée du Sud </option>
                            <option value="Koweit"> Koweït </option>
                            <option value="Kirghizistan"> Kirghizistan </option>
                            <option value="Laos"> Laos </option>
                            <option value="Lettonie"> Lettonie </option>
                            <option value="Liban"> Liban </option>
                            <option value="Lesotho"> Lesotho </option>
                            <option value="Libéria"> Libéria </option>
                            <option value="Libye"> Libye </option>
                            <option value="Liechtenstein"> Liechtenstein </option>
                            <option value="Lituanie"> Lituanie </option>
                            <option value="Luxembourg"> Luxembourg </option>
                            <option value="Macao"> Macao </option>
                            <option value="Macédoine"> Macédoine </option>
                            <option value="Madagascar"> Madagascar </option>
                            <option value="Malaisie"> Malaisie </option>
                            <option value="Malawi"> Malawi </option>
                            <option value="Maldives"> Maldives </option>
                            <option value="Mali"> Mali </option>
                            <option value="Malte"> Malte </option>
                            <option value="Marshall Islands"> Marshall Islands </option>
                            <option value="Martinique"> Martinique </option>
                            <option value="Mauritanie"> Mauritanie </option>
                            <option value="Maurice"> Maurice </option>
                            <option value="Mayotte"> Mayotte </option>
                            <option value="Mexique"> Mexique </option>
                            <option value="Midway Islands"> Midway Islands </option>
                            <option value="Moldavie"> Moldavie </option>
                            <option value="Monaco"> Monaco </option>
                            <option value="Mongolie"> Mongolie </option>
                            <option value="Montserrat"> Montserrat </option>
                            <option value="Maroc"> Maroc </option>
                            <option value="Mozambique"> Mozambique </option>
                            <option value="Myanmar"> Myanmar </option>
                            <option value="Nambie"> Namibie </option>
                            <option value="Nauru"> Nauru </option>
                            <option value="Népal"> Népal </option>
                            <option value="Antilles néerlandaises"> Antilles néerlandaises </option>
                            <option value="Pays-Bas"> Pays-Bas (Hollande, Europe) </option>
                            <option value="Nevis"> Nevis </option>
                            <option value="Nouvelle-Calédonie"> Nouvelle-Calédonie </option>
                            <option value="Nouvelle-Zélande"> Nouvelle-Zélande </option>
                            <option value="Nicaragua"> Nicaragua </option>
                            <option value="Niger"> Niger </option>
                            <option value="Nigéria"> Nigéria </option>
                            <option value="Noué"> Nioué </option>
                            <option value="Île Norfolk"> Île Norfolk </option>
                            <option value="Norvège"> Norvège </option>
                            <option value="Oman"> Oman </option>
                            <option value="Pakistan"> Pakistan </option>
                            <option value="Palau Island"> Palau Island </option>
                            <option value="Palestine"> Palestine </option>
                            <option value="Panama"> Panama </option>
                            <option value="Papouasie-Nouvelle-Guinée"> Papouasie-Nouvelle-Guinée </option>
                            <option value="Paraguay"> Paraguay </option>
                            <option value="Pérou"> Pérou </option>
                            <option value=" Philippines "> Philippines </option>
                            <option value="Pitcairn Island"> Pitcairn Island </option>
                            <option value="Pologne"> Pologne </option>
                            <option value="Portugal"> Portugal </option>
                            <option value="Porto Rico"> Porto Rico </option>
                            <option value="Qatar"> Qatar </option>
                            <option value="République du Monténégro"> République du Monténégro </option>
                            <option value="République de Serbie"> République de Serbie </option>
                            <option value="La Réunion"> La Réunion </option>
                            <option value="Roumanie"> Roumanie </option>
                            <option value="Russie"> Russie </option>
                            <option value="Rwanda"> Rwanda </option>
                            <option value="St Barthelemy"> St Barthelemy </option>
                            <option value="Saint-Eustache"> Saint-Eustache </option>
                            <option value="Sainte-Hélène"> Sainte-Hélène </option>
                            <option value="St Kitts-Nevis"> St Kitts-Nevis </option>
                            <option value="Sainte Lucie"> Sainte Lucie </option>
                            <option value="Saint-Martin"> Saint-Martin </option>
                            <option value="St Pierre & Miquelon"> St Pierre & Miquelon </option>
                            <option value="St Vincent & Grenadines"> St Vincent & Grenadines </option>
                            <option value="Saipan"> Saipan </option>
                            <option value="Samoa"> Samoa </option>
                            <option value="Samoa américaines"> Samoa américaines </option>
                            <option value="Saint-Marin"> Saint-Marin </option>
                            <option value="Sao Tomé & Principe"> Sao Tomé & Principe </option>
                            <option value="Arabie saoudite"> Arabie saoudite </option>
                            <option value="Sénégal"> Sénégal </option>
                            <option value="Seychelles"> Seychelles </option>
                            <option value="Sierra Leone"> Sierra Leone </option>
                            <option value="Singapour"> Singapour </option>
                            <option value="Slovaquie"> Slovaquie </option>
                            <option value="Slovénie"> Slovénie </option>
                            <option value="Îles Salomon"> Îles Salomon </option>
                            <option value="Somalie"> Somalie </option>
                            <option value="Afrique du Sud"> Afrique du Sud </option>
                            <option value="Espagne"> Espagne </option>
                            <option value="Sri Lanka"> Sri Lanka </option>
                            <option value="Soudan"> Soudan </option>
                            <option value="Suriname"> Suriname </option>
                            <option value="Swaziland"> Swaziland </option>
                            <option value="Suède"> Suède </option>
                            <option value="Suisse"> Suisse </option>
                            <option value="Syrie"> Syrie </option>
                            <option value="Tahiti"> Tahiti </option>
                            <option value="Taïwan"> Taïwan </option>
                            <option value="Tadjikistan"> Tadjikistan </option>
                            <option value="Tanzanie"> Tanzanie </option>
                            <option value="Thaïlande"> Thaïlande </option>
                            <option value="Togo"> Togo </option>
                            <option value="Tokélaou"> Tokélaou </option>
                            <option value="Tonga"> Tonga </option>
                            <option value="Trinité-et-Tobago"> Trinité-et-Tobago </option>
                            <option value="Tunisie"> Tunisie </option>
                            <option value="Turquie"> Turquie </option>
                            <option value="Turkménistan"> Turkménistan </option>
                            <option value="Turks & Caicos Is"> Turks & Caicos Is </option>
                            <option value="Tuvalu"> Tuvalu </option>
                            <option value="Ouganda"> Ouganda </option>
                            <option value="Royaume-Uni"> Royaume-Uni </option>
                            <option value="Ukraine"> Ukraine </option>
                            <option value="Erimates Arabes Unis"> Emirats Arabes Unis </option>
                            <option value="États-Unis d'Amérique"> États-Unis d'Amérique </option>
                            <option value="Uraguay"> Uruguay </option>
                            <option value="Ouzbékistan"> Ouzbékistan </option>
                            <option value="Vanuatu"> Vanuatu </option>
                            <option value="État de la Cité du Vatican"> État de la Cité du Vatican </option>
                            <option value="Venezuela"> Venezuela </option>
                            <option value="Vietnam"> Vietnam </option>
                            <option value="Virgin Islands (Brit)"> Virgin Islands (Brit) </option>
                            <option value="Îles Vierges (États-Unis)"> Îles Vierges (États-Unis) </option>
                            <option value="Wake Island"> Wake Island </option>
                            <option value="Wallis & Futana Is"> Wallis & Futana Is </option>
                            <option value="Yémen"> Yémen </option>
                            <option value="Zaïre"> Zaïre </option>
                            <option value="Zambie"> Zambie </option>
                            <option value="Zimbabwe"> Zimbabwe </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Ville</label>
                        <div class="form-group">
                          <input type="text" name="city" class="form-control form-control-custom">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Mois</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                              <option value="">Choisir..</option>
                              <option value="12">12</option>
                              <option value="11">11</option>
                              <option value="10">10</option>
                              <option value="09">09</option>
                              <option value="08">08</option>
                              <option value="07">07</option>
                              <option value="06">06</option>
                              <option value="05">05</option>
                              <option value="04">04</option>
                              <option value="03">03</option>
                              <option value="02">02</option>
                              <option value="01">01</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Année</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                             <option *ngFor="let year of years" [value]="year">{{ year }}</option> 
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Garantie</label>
                        <div class="form-group">
                          <input type="text" name="Garantie" class="form-control form-control-custom">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Prix</label>
                        <div class="form-group">
                          <input type="text" name="price" class="form-control form-control-custom">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Disponibilité</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option value="Immediatement">Immediatement</option>
                            <option value="Sur-commande">Sur commande</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Catégorie</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option value="Luxury">Luxury Car</option>
                            <option value="Sports">Sports Car</option>
                            <option value="Vintage">Vintage Car</option>
                            <option value="Excutive">Excutive Car</option>
                            <option value="Economy">Economy Car</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Brand</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option value="acura">Acura</option>
                            <option value="aixam">Aixam</option>
                            <option value="alfa-romeo">Alfa Romeo</option>
                            <option value="alpina">Alpina</option>
                            <option value="aston-martin">Aston Martin</option>
                            <option value="audi">Audi</option>
                            <option value="baic-yx">BAIC YX</option>
                            <option value="bentley">Bentley</option>
                            <option value="bmw">BMW</option>
                            <option value="bugatti">Bugatti</option>
                            <option value="buick">Buick</option>
                            <option value="byd">BYD</option>
                            <option value="cadillac">Cadillac</option>
                            <option value="changan">Changan</option>
                            <option value="chery">Chery</option>
                            <option value="chevrolet">Chevrolet</option>
                            <option value="chrysler">Chrysler</option>
                            <option value="citroen">Citroën</option>
                            <option value="dacia">Dacia</option>
                            <option value="daewoo">Daewoo</option>
                            <option value="daihatsu">Daihatsu</option>
                            <option value="dfsk">DFSK</option>
                            <option value="dodge">Dodge</option>
                            <option value="dongfeng">Dongfeng</option>
                            <option value="ds">DS</option>
                            <option value="faw">Faw</option>
                            <option value="ferrari">Ferrari</option>
                            <option value="fiat">Fiat</option>
                            <option value="foday">Foday</option>
                            <option value="ford">Ford</option>
                            <option value="foton">Foton</option>
                            <option value="geely">Geely</option>
                            <option value="genesis">Genesis</option>
                            <option value="gmc">GMC</option>
                            <option value="great-wall">Great Wall</option>
                            <option value="haval">Haval</option>
                            <option value="honda">Honda</option>
                            <option value="huanghai">Huanghai</option>
                            <option value="hummer">Hummer</option>
                            <option value="hyundai">Hyundai</option>
                            <option value="infiniti">Infiniti</option>
                            <option value="isuzu">Isuzu</option>
                            <option value="iveco">Iveco</option>
                            <option value="jaguar">Jaguar</option>
                            <option value="jeep">Jeep</option>
                            <option value="kawazaki">Kawazaki</option>
                            <option value="kia">KIA</option>
                            <option value="lada">Lada</option>
                            <option value="lamborghini">Lamborghini</option>
                            <option value="lancia">Lancia</option>
                            <option value="land-rover">Land Rover</option>
                            <option value="lexus">Lexus</option>
                            <option value="lincoln">Lincoln</option>
                            <option value="lotus">Lotus</option>
                            <option value="mahindra">Mahindra</option>
                            <option value="maserati">Maserati</option>
                            <option value="maybach">Maybach</option>
                            <option value="mazda">Mazda</option>
                            <option value="mercedes-benz">Mercedes-Benz</option>
                            <option value="mg">MG</option>
                            <option value="mini">Mini</option>
                            <option value="mitsubishi">Mitsubishi</option>
                            <option value="morgan">Morgan</option>
                            <option value="nissan">Nissan</option>
                            <option value="oldsmobile">Oldsmobile</option>
                            <option value="opel">Opel</option>
                            <option value="peugeot">Peugeot</option>
                            <option value="piaggio">Piaggio</option>
                            <option value="pontiac">Pontiac</option>
                            <option value="porsche">Porsche</option>
                            <option value="renault">Renault</option>
                            <option value="rolls-royce">Rolls Royce</option>
                            <option value="rover">Rover</option>
                            <option value="saab">Saab</option>
                            <option value="seat">Seat</option>
                            <option value="simca">Simca</option>
                            <option value="skoda">Skoda</option>
                            <option value="smart">Smart</option>
                            <option value="soueast">Soueast</option>
                            <option value="ssangyong">Ssangyong</option>
                            <option value="subaru">Subaru</option>
                            <option value="suzuki">Suzuki</option>
                            <option value="talbot">Talbot</option>
                            <option value="tata">Tata</option>
                            <option value="toyota">Toyota</option>
                            <option value="trabant">Trabant</option>
                            <option value="triumph">Triumph</option>
                            <option value="tvr">TVR</option>
                            <option value="volkswagen">Volkswagen</option>
                            <option value="volvo">Volvo</option>
                            <option value="wallyscar">Wallyscar</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Modèle</label>
                        <div class="form-group">
                          <input type="text" name="model" class="form-control form-control-custom">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Carrosserie</label>
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option value="">Choisir..</option>
                            <option value="Citadine">Citadine</option>
                            <option value="Compacte">Compacte</option>
                            <option value="Berline">Berline</option>
                            <option value="Coupé">Coupé</option>
                            <option value="Cabriolet">Cabriolet</option>
                            <option value="4 x 4">4 x 4</option>
                            <option value="Monospace">Monospace</option>
                            <option value="Utilitaire">Utilitaire</option>
                            <option value="Pick up">Pick up</option>
                            <option value="Autres">Autres</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <label>Couleur</label>
                        <div class="form-group p-relative">
                      <select class="form-control form-control-custom">
                        <option value="">Choisir..</option>
                        <option value="Noir">Noir</option>
                        <option value="Gris argent">Gris argent</option>
                        <option value="Gris anthracite">Gris anthracite</option>
                        <option value="Gris Shark">Gris Shark</option>
                        <option value="Blanc">Blanc</option>
                        <option value="Rouge">Rouge</option>
                        <option value="Bleu">Bleu</option>
                        <option value="Beige">Beige</option>
                        <option value="Jaune">Jaune</option>
                        <option value="Orange">Orange</option>
                        <option value="Vert">Vert</option>
                        <option value="Aubergine">Aubergine</option>
                        <option value="Marron">Marron</option>
                        <option value="Autre">Autre</option>
                        </select>
                        </div>
                        </div>
                      <div class="col-lg-12">
                        <label>Description</label>
                        <div class="form-group">
                          <textarea class="form-control form-control-custom" rows="5"></textarea>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <label>Equipements extérieurs</label>
                        <div class="form-group">

                        </div>
                      </div>

                      <div class="col-lg-12">
                        <label>Equipements intérieurs</label>
                        <div class="form-group">

                        </div>
                      </div>


                      <div class="col-lg-12">
                        <label>Equipements de sécurité</label>
                        <div class="form-group">

                        </div>
                      </div>

                    </div>
                  </form>
                </div>
              </div>
              <div class="step-tab-panel" id="step2">
                <div class="tab-from-content">
                  <div class="title-icon">
                    <h5 class="title rubik fw-600"><i class="flaticon-frame"></i> Gallery & Video</h5>
                  </div>
                  <div class="p-relative drag-drop-sec">
                    <form class="drag-drop">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <input type="file" multiple>
                            <div class="add-gallery-text text-center"> <i class="far fa-image"></i>
                              <span class="drag-label"> Click here or drop files to upload</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="step-tab-panel" id="step3">
                <div class="tab-from-content">
                  <div class="title-icon">
                    <h5 class="title rubik fw-600"><i class="flaticon-location-pin"></i> Location</h5>
                  </div>
                  <form>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-custom" name="#" placeholder="Address">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-custom" name="#"
                            placeholder="Temporary Address">
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option>State</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option>City</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="form-group p-relative">
                          <select class="form-control form-control-custom">
                            <option>Country</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="form-group">
                          <input type="number" class="form-control form-control-custom" name="#" placeholder="Zip Code">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="step-tab-panel" id="step4">
                <div class="tab-from-content">
                  <div class="title-icon">
                    <h5 class="title rubik fw-600"><i class="flaticon-price-tag"></i> Amenities</h5>
                  </div>
                  <form>
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>Coupons</label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>Smoking Allowed</label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>Accessories</label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>Camping</label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>Field Trips</label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>Getway</label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>Hot Spots</label>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="step-tab-panel" id="step5">
                <div class="tab-from-content">
                  <div class="title-icon">
                    <h5 class="title rubik fw-600"><i class="flaticon-check-square"></i> Confirmation</h5>
                  </div>
                  <form>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>I Agree To Qamous's <a
                              routerLink="/add-listing" class="text-light-black">Privacy Policy</a>
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label class="custom-checkbox">
                            <input type="checkbox"> <span class="checkmark"></span>I Agree To Qamous's <a
                              routerLink="/add-listing" class="text-light-black">Terms Of Services</a>
                          </label>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="step-footer step-tab-pager">
              <button data-direction="prev" class="btn-second orange-btn">Previous</button>
              <button data-direction="next" class="btn-second orange-btn">Next</button>
              <button data-direction="finish" class="btn-second orange-btn">Preview & Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Adding Listing -->

  <app-footer2></app-footer2>

</div>