label{
    font-size: 16px;
    color: #767e7d;
 }
 /* .orange-text{
     color: #ff6e14 !important;
 } */
 .black-text{
     color:black !important;
 }

@media(min-width:768px){
    #outside-equip li,
    #inside-equip li,
    #security-equip li {
        display: inline-block !important;
        width: 33% !important;
    }
}