<div class="mobile-menu-second">

    <app-header2></app-header2>

    <!-- Adding Listing -->
    <section class="section-padding add-listing-sec">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="add-listing-tab" class="step-app">
                        <ul class="step-steps">
                            <li class="active">
                                <a href="#step1"> <span class="number"></span>
                                    <span class="step-name">INFORMATIONS GÉNÉRALES</span>
                                </a>
                            </li>
                            <li>
                                <a href="#step2"> <span class="number"></span>
                                    <span class="step-name">SPÉCIFICATIONS TECHNIQUES</span>
                                </a>
                            </li>

                            <li>
                                <a href="#step3"> <span class="number"></span>
                                    <span class="step-name">ACCESSOIRES</span>
                                </a>
                            </li>
                            <li>
                                <a href="#step4"> <span class="number"></span>
                                    <span class="step-name">LOCALISATION</span>
                                </a>
                            </li>
                            <li>
                                <a href="#step5"> <span class="number"></span>
                                    <span class="step-name">GALERIE</span>
                                </a>
                            </li>

                        </ul>
                        <div class="step-content">

                            <div class="step-tab-panel" id="step1">
                                <div class="tab-from-content">
                                    <div class="title-icon">
                                        <h5 class="title rubik fw-600"><i class="flaticon-comment"></i>Informations générales
                                        </h5>
                                    </div>
                                    <form [formGroup]="addCarForm">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Titre</label>
                                                <div class="form-group">
                                                    <input type="text" name="title" formControlName="title" class="form-control form-control-custom">
                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-3 col-md-4 col-sm-4" *ngIf="this.userRole!=='user'">
                                                <label>Type</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom"
                                                        formControlName="type">
                                                        <option value="">Choisir..</option>
                                                        <option value="Occasion">Occasion</option>
                                                        <option value="Neuve">Neuve</option>
                                                    </select>
                                                </div>
                                            </div> -->

                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Année</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="year">
                                                        <option value="">Choisir..</option>
                                                        <option *ngFor="let year of years.slice().reverse()"
                                                            [value]="year">{{year}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-4" *ngIf="this.userRole==='user'">
                                                <label>Kilométrage</label>
                                                <div class="form-group">
                                                    <input type="text" name="mileage" formControlName="mileage" class="form-control form-control-custom">
                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Motorization</label>
                                                <div class="form-group">
                                                    <input type="text" name="motorization" formControlName="motorization" class="form-control form-control-custom">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Energie</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom"
                                                        formControlName="energy">
                                                        <option value="">Choisir..</option>
                                                        <option value="essence">Essence</option>
                                                        <option value="diesel">Diesel</option>
                                                    </select>
                                                </div>
                                            </div> -->

                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Prix</label>
                                                <div class="form-group">
                                                    <input type="number" name="price" formControlName="price" class="form-control form-control-custom">
                                                </div>
                                            </div>

                                            <!-- <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Catégorie</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="category">
                                                        <option value="">Choisir..</option>
                                                        <option *ngFor="let c of categoriesList" [value]="c.id_car_type">
                                                            {{c.name}}</option>
                                                    </select>
                                                </div>
                                            </div> -->

                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Marque</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="brand">
                                                        <option value="">Choisir..</option>
                                                        <option *ngFor="let b of arrayBrand"
                                                            [value]="[b.name,b.id_car_make]">{{b.name}}</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Modèle</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="model">
                                                        <option value="">Choisir..</option>
                                                        <option *ngFor="let m of arrayModel"
                                                            [value]="[m.name,m.id_car_model]">{{m.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Génération</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="generation">
                                                        <option value="">Choisir..</option>
                                                        <option *ngFor="let g of arrayGeneration"
                                                            [value]="[g.name,g.id_car_generation]">{{g.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Série</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="serie">
                                                        <option value="">Choisir..</option>
                                                        <option *ngFor="let s of arraySerie"
                                                            [value]="[s.name,s.id_car_serie]">{{s.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4" *ngIf="this.userRole==='admin'">
                                                <label>Modification</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="trim">
                                                        <option value="">Choisir..</option>
                                                        <option *ngFor="let t of arrayTrim"
                                                            [value]="[t.name,t.id_car_trim]">{{t.name}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Couleur</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="color">
                                                        <option value="">Choisir..</option>
                                                        <option value="Noir">Noir</option>
                                                        <option value="Gris argent">Gris argent</option>
                                                        <option value="Gris anthracite">Gris anthracite</option>
                                                        <option value="Gris Shark">Gris Shark</option>
                                                        <option value="Blanc">Blanc</option>
                                                        <option value="Rouge">Rouge</option>
                                                        <option value="Bleu">Bleu</option>
                                                        <option value="Beige">Beige</option>
                                                        <option value="Jaune">Jaune</option>
                                                        <option value="Orange">Orange</option>
                                                        <option value="Vert">Vert</option>
                                                        <option value="Aubergine">Aubergine</option>
                                                        <option value="Marron">Marron</option>
                                                        <option value="Autre">Autre</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Disponibilité</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="availablity">
                                                        <option value="">Choisir..</option>
                                                        <option value="Immediatement">Immediatement</option>
                                                        <option value="Sur-commande">Sur commande</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Guarantie</label>
                                                <div class="form-group">
                                                    <input type="text" name="Guarantie" formControlName="guarantee" class="form-control form-control-custom">
                                                </div>
                                            </div> -->
                                            <div class="col-lg-12" *ngIf="this.userRole!=='admin'">
                                                <label>Description</label>
                                                <div class="form-group">
                                                    <textarea class="form-control form-control-custom" formControlName="description" rows="5"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="step-tab-panel" id="step2">
                                <div class="tab-from-content">
                                    <div class="title-icon">
                                        <h5 class="title rubik fw-600"><i class="flaticon-check-square"></i>Spécifications techniques</h5>
                                    </div>
                                    <form [formGroup]="addCarForm">
                                        <div class="row" *ngIf="this.userRole!=='user' && arraySpecification">
                                            <div class="col-lg-3 col-md-4 col-sm-4" *ngFor="let s of arraySpecification">
                                                <label>{{s.name}}</label>
                                                <div class="form-group">
                                                    <input class="form-control form-control-custom" type="text" value='{{s.value}}' readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="this.userRole==='user'">
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Boîte</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="gearbox">
                                                        <option value="">Choisir..</option>
                                                        <option value="manuelle">Manuelle</option>
                                                        <option value="automatique">Automatique</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Puissance fiscale</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="powerFiscal">
                                                        <option value="">Choisir..</option>
                                                        <option *ngFor="let power of powerFiscalArray" [value]="power">
                                                            {{ power }}</option>
                                                        <option value="more-48">Plus de 48</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Carrosserie</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="carrosserie">
                                                        <option value="">Choisir..</option>
                                                        <option value="Citadine">Citadine</option>
                                                        <option value="Compacte">Compacte</option>
                                                        <option value="Berline">Berline</option>
                                                        <option value="Coupé">Coupé</option>
                                                        <option value="Cabriolet">Cabriolet</option>
                                                        <option value="4 x 4">4 x 4</option>
                                                        <option value="Monospace">Monospace</option>
                                                        <option value="Utilitaire">Utilitaire</option>
                                                        <option value="Pick up">Pick up</option>
                                                        <option value="Autres">Autres</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>transmission</label>
                                                <div class="form-group p-relative">
                                                    <select class="form-control form-control-custom" formControlName="transmission">
                                                        <option value="">Choisir..</option>
                                                        <option value="traction">Traction</option>
                                                        <option value="propulsion">Propulsion</option>
                                                        <option value="intégrale">Intégrale</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Nombre de places</label>
                                                <div class="form-group">
                                                    <input type="number" name="seatingCapacity" formControlName="seatingCapacity" class="form-control form-control-custom">
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Nombre de portes</label>
                                                <div class="form-group">
                                                    <input type="number" name="numberDoors" formControlName="numberDoors" class="form-control form-control-custom">
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Puissance DIN</label>
                                                <div class="form-group">
                                                    <input type="number" name="puissanceDIN" formControlName="puissanceDIN" class="form-control form-control-custom">
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Carburant</label>
                                                <div class="form-group">
                                                    <div class="form-group p-relative">
                                                        <select class="form-control form-control-custom" formControlName="Carburant">
                                                            <option value="">Choisir..</option>
                                                            <option value="Essence"> Essence</option>
                                                             <option value="Diesel">Diesel</option>
                                                             <option value="Hybride">Hybride</option>
                                                             <option value="Electrique">Electrique</option>
                                                             <option value="GPL">GPL</option>
                                                             <option value="Autre">Autre</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Mise en Circulation</label>
                                                <div class="form-group">
                                                    <input type="date" name="miseCirculation" formControlName="miseCirculation" class="form-control form-control-custom">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Permis</label>
                                                <div class="form-group">
                                                    <input type="text" name="permis" formControlName="permis" class="form-control form-control-custom">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="step-tab-panel" id="step3">
                                <div class="tab-from-content">
                                    <div class="title-icon">
                                        <h5 class="title rubik fw-600"><i class="flaticon-price-tag"></i>Accessoires
                                        </h5>
                                    </div>
                                    <form [formGroup]="addCarForm">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label>Equipements extérieurs</label>
                                                <div formArrayName="outsideEquipment" class="form-group  p-relative">
                                                    <ul class="boxes" id="inside-equip">
                                                        <li *ngFor="let ex of outsideEquipmentList;let index=index">
                                                            <label class="custom-checkbox black-text " for="ex{{index}}">
                                                                <input type="checkbox" id="ex{{index}}"
                                                                    [value]="ex.equipement"
                                                                    (change)="onCheckboxChange($event,'outsideEquipment')">
                                                                <span class="checkmark"></span>{{ex.equipement}}</label>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <label>Equipements intérieurs</label>
                                                <div formArrayName="insideEquipment" class="form-group">
                                                    <ul class="boxes" id="outside-equip">
                                                        <li *ngFor="let i of insideEquipmentList;let index=index">
                                                            <label class="custom-checkbox black-text" for="int{{index}}">
                                                                <input type="checkbox" id="int{{index}}"
                                                                    [value]="i.equipement"
                                                                    (change)="onCheckboxChange($event,'insideEquipment')">
                                                                <span class="checkmark"></span>{{i.equipement}}</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>


                                            <div class="col-lg-12">
                                                <label>Equipements de sécurité</label>
                                                <div formArrayName="securityEquipment" class="form-group">
                                                    <ul class="boxes" id="security-equip">
                                                        <li *ngFor="let s of securityEquipmentList;let index=index">
                                                            <label class="custom-checkbox black-text" for="security{{index}}">
                                                                <input type="checkbox" id="security{{index}}"
                                                                    [value]="s.equipement"
                                                                    (change)="onCheckboxChange($event,'securityEquipment')">
                                                                <span class="checkmark"></span>{{s.equipement}}</label>
                                                        </li>

                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="step-tab-panel" id="step4">
                                <div class="tab-from-content">
                                    <div class="title-icon">
                                        <h5 class="title rubik fw-600"><i class="flaticon-location-pin"></i> Location
                                        </h5>
                                    </div>
                                    <form [formGroup]="addCarForm">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>concessionnaires</label>
                                                <div class="form-group" *ngIf="this.userRole!=='user'">
                                                    <select formControlName="concessionnaire" class="form-control form-control-custom">
                                                        <option *ngFor="let concessionnaire of concessionnaires"
                                                            value="{{concessionnaire.id}}">{{concessionnaire.nom}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group" *ngIf="this.userRole!=='admin'">
                                                    <input type="text" name="concessionnaire" formControlName="concessionnaire" class="form-control form-control-custom">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Téléphone</label>
                                                <div class="form-group">
                                                    <input type="text" name="phone" formControlName="phone" class="form-control form-control-custom">
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Adresse</label>
                                                <div class="form-group">
                                                    <input type="text" name="address" formControlName="address" class="form-control form-control-custom">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4">
                                                <label>Fax</label>
                                                <div class="form-group">
                                                    <input type="text" name="fax" formControlName="fax" class="form-control form-control-custom">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="step-tab-panel" id="step5">
                                <div class="tab-from-content">
                                    <div class="title-icon">
                                        <h5 class="title rubik fw-600"><i class="flaticon-frame"></i>Galerie</h5>
                                    </div>

                                    <form [formGroup]="addCarForm">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div formArrayName="pictures" class="form-group div-input-file">
                                                    <div class="d-flex justify-content-center text-div-input-file">
                                                        Cliquez ou faites glisser vos photos ici
                                                    </div>
                                                    <input type="file" class="input-pictures" accept="image/*" (change)="onFileChange($event)">

                                                </div>
                                            </div>
                                            <div class="col-lg-12" *ngIf="kits.length!==0">

                                                <!-- <div class="dropzone-previews" *ngFor="let pic of kits">
                              <div class="dz-details">  
                                  <div class="dz-filename">
                                    <span >user.jpg</span>
                                  </div>  
                                   
                                  
                                 <img class="img-preview" [src]="pic">
                            </div>
                              </div> -->


                                                <div class="col p-2" *ngFor="let pic of kits;let index = index">
                                                    <img class="picture-car" [src]="pic">
                                                    <img src="assets/images/new-icons/deletekit.svg" class="delete-icon" (click)="delete(index)">
                                                </div>



                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                        <div class="row justify-content-center" *ngIf="this.successMsg!==''">
                            <div class="col-md-6 mb-3 d-flex justify-content-center">
                                <span class="success-msg">{{successMsg}}</span>
                            </div>
                        </div>
                        <div class="step-footer step-tab-pager">
                            <button data-direction="prev" class="btn-second orange-btn">Précédent</button>
                            <button data-direction="next" class="btn-second orange-btn">Suivant</button>
                            <button data-direction="finish" class="btn-second orange-btn" (click)="addCar()">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Adding Listing -->

    <app-footer2></app-footer2>

</div>