<div class="mobile-menu-second">
    <app-header2></app-header2>


    <section class="section-padding our_articles">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 d-flex justify-content-center">
                    <table id="customers">
                        <thead>
                            <tr>
                                <th>Nom et prénom</th>
                                <th>Téléphone</th>
                                <th>Adresse</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of userList">
                                <td>{{user.firstName}} {{user.lastName}}</td>
                                <td>{{user.companyPhone || '-'}}</td>
                                <td>{{user.companyAddress}}</td>
                                <td class="text-center">
                                    <a class="mt-2" *ngIf="user.status==='active'" (click)="blockUser(user.id)">
                                        <i class="fas fa-stop-circle"></i>
                                    </a>
                                    <a class="mt-2" *ngIf="user.status!=='active'"> <i class="fas fa-user-lock"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <app-footer2></app-footer2>
</div>